##/* $Id$
##
##   (c) Copyright, Real-Time Innovations, Inc. 2001.  All rights reserved.
##   No duplications, whole or partial, manual or electronic, may be made
##   without prior written permission.  Any such copies, or
##   revisions thereof, must display this notice unaltered.
##   This code contains trade secrets of Real-Time Innovations, Inc.

##modification history:
##---------------------
##18nov2020,fmt  created 
##========================================================================
#setNamespaceNames(false)
#setDefaultVariables()
#set ( $use_dpde = false )
#set ( $use_static_udp = true )
#set ( $use_cert_api_only = true )
#setVariableDiscoveryPluginName()
#publisherSubscriberIncludesC()

#subscriberFilterDeclarationsC()

#functionSubscriberSubscriptionMatchedC()

#functionSubscriberOnDataAvailableC()

#declareFunctionSubscriberMainWArgsC()
#subscriberMainWArgsPreCreateDataReaderC()
#subscriberMainWArgsCreateDataReaderC()
#subscriberMainWArgsAssertRemotePublicationC()
#subscriberMainWArgsApplicationEnableC()
#subscriberMainWArgsListenerWaitForSamplesC()
#subscriberMainWArgsDeleteApplicationC()
#subscriberMainWArgsReturnC()

#functionPublisherSubscriberMain(false, true)
