##/* $Id$
##
##   Copyright (c) 2001-2025 Real-Time Innovations, Inc.  All rights reserved.
##   No duplications, whole or partial, manual or electronic, may be made
##   without prior written permission.  Any such copies, or
##   revisions thereof, must display this notice unaltered.
##   This code contains trade secrets of Real-Time Innovations, Inc.

##modification history:
##---------------------
##240,18dec15,as  CODEGENII-524 Update for Micro 2.4.6
##                MICRO-1483 Fix generation of enum constants
##                MICRO-1178 Add TTypeSupport_get_type_name()
##222,13may15,as  Added RTI_CERT guards around delete, finalize, and
##                unregister operations.
##222,30mar15,as  Added NULL-argument checks to public functions
##222,23feb15,tk  Modified for new sequence definition method
##222,06jun14,as  Updated micro templates [resolved MICRO-79, MICRO-187, 
##                MICRO-341, MICRO-346, MICRO-740, MICRO-678, 
##                MICRO-777, MICRO-779, MICRO-796]
##10a,19jul13, as Added two new macros to define struct and functions of a sequence
##                and removed sequence definition from defineTypeFunctions
##10a,10jun13,ajm CODEGENII-109 adding envMap and constructMapList variables
##10a,16jan13, ajm RRTIDDSGEN-52 Renaming variables and functions for the codereview
##10a,4dec12, ajm Refactoring of the code and variable names.a
##10a,25oct12, ajm Refactorizing code and variable names: 
##                typeIdl-->nativeTypeFQName, pathName-->FQName 
##10a,30nov11,yy added support for longs for Micro
##10a,29nov11,yy fixed copy_sample for Micro
##10a,17nov11,yy changes for Micro
##10a,14nov11,yy created
##-----------------------------------------------------------------
##               
##             Macros for TypeBody and TypeHeader
##
##---------------------------------------------------------------------
##---------------------------------------------------------------------
##******************************************************************************
## Macro to define alias
##******************************************************************************
#macro(defineAliasMicroMicro  $member)
#initMemberMicroMicro($member $member.memberFieldMapList[0])
#end


##******************************************************************************
## Macro to define constanst
##******************************************************************************
#macro(defineConstantMicroMicro $member)
#*----*##if($envMap.language.equals("C"))
#*------*#${envMap.POUND_CHAR}define ${member.nativeFQNameInModule} (${member.value})
#*----*##elseif($envMap.language.equals("Cpp"))
#*--------*##if (($member.nativeTypeFQName=="DDS_String") || ($member.nativeTypeFQName=="DDS_Wstring"))
#*-----------*#static const char * const ${member.nativeFQNameInModule} = ${member.value};
#*--------*##else
#*-----------*#static const ${member.nativeTypeFQName} ${member.nativeFQNameInModule} = ${member.value};
#*--------*##end
#*----*##end
#end

##******************************************************************************
## Macro to define enum
##******************************************************************************
#macro(declareEnumMicroMicro $node)
typedef enum $node.nativeFQNameInModule
{
#set( $nonDirectiveChildren = 0 )
#foreach($member in $node.memberFieldMapList)
#*----*##if(!$member.directive)
#set( $nonDirectiveChildren = $nonDirectiveChildren + 1 )
    $member.nativeFQNameInModule #if($member.autoOrdinal == "false") = $member.ordinal#end#*
*----*##commaIfNeededMicroMicro($nonDirectiveChildren $node.memberCount)

#*--*##else
    #copyAllDirectives($member)
#*--*##end
#end
} $node.nativeFQNameInModule;
#end


#macro(declareComplexTypeMicroMicro $node)
#* Forward declarations for C++ *#
#*----*##if($envMap.language.equals("Cpp"))
struct ${node.nativeFQNameInModule}Seq;
#*------*##if($node.topLevel)
class ${node.nativeFQNameInModule}TypeSupport;
#*--------*##if($envMap.genWriter)
class ${node.nativeFQNameInModule}DataWriter;
#*--------*##end
#*--------*##if($envMap.genReader)
class ${node.nativeFQNameInModule}DataReader;
#*--------*##end
#*------*##end  
#*----*##end #* //if($envMap.language.equals("Cpp") *#

#*----*##if($envMap.language.equals("C")
             || $node.constructKind.equals("union"))
typedef struct ${node.nativeFQNameInModule}
#*----*##else #* if($envMap.language.equals("C"
                       || $node.constructKind.equals("union") *#
class ${node.nativeFQNameInModule} #if($node.baseTypeFQName): public $node.baseTypeFQName#end
#*----*##end #* //if($envMap.language.equals("C"
                      || $node.constructKind.equals("union") *#
{
#*----*##if($envMap.language.equals("Cpp"))
public:
    typedef struct ${node.nativeFQNameInModule}Seq Seq;
#*------*##if($node.topLevel)
    typedef ${node.nativeFQNameInModule}TypeSupport TypeSupport;
#*--------*##if($envMap.genWriter)
    typedef ${node.nativeFQNameInModule}DataWriter DataWriter;
#*--------*##end
#*--------*##if($envMap.genReader)
    typedef ${node.nativeFQNameInModule}DataReader DataReader;
#*--------*##end
#*------*##end #* //if($node.topLevel) *#
#*----*##end #* //if($envMap.language.equals("Cpp") *#

#*----*##if($node.constructKind.equals("union"))
    #createTypeFieldMemberMicroMicro($node.unionDiscriminatorMap $node)
    #iTypeMicroMicro($node.unionDiscriminatorMap) _d;
    struct ${node.nativeFQNameInModule}_u 
    {
#*----*##end #* //if($node.constructKind.equals("union") *#

## Call to a macro here to initialize the types of the members in the node
    #createTypeFieldMicroMicro($node.memberFieldMapList $node)
## Call to a macro here  to define each member in the node
    #headerInitMicroMicro($node)
#*----*##if($node.constructKind.equals("union"))
    }_u;
#*----*##end #* //if($node.constructKind.equals("union") *#
}#if($envMap.language.equals("C")
      || $node.constructKind.equals("union")) ${node.nativeFQNameInModule} #end;
#end

##*****************************************************************************
## Macro to initialize all the members
##*****************************************************************************
#macro(initializeMicroMicro $node)
#foreach($member in $node.memberFieldMapList)
#if($member.directive)
#printCopyDirectiveNoDeclarationMicroMicro($member)
#else
#initialize_memberMicroMicro($member $node)
#end
#end
#end

##*****************************************************************************
## Macro to initialize a members
##*****************************************************************************
#macro(initialize_memberMicroMicro $member $node)
#if($member.dimensionList && $member.seqSize)##array of sequences
#*----*##initArrayofSeqMicroMicro($member)
#elseif($member.dimensionList)
#*----*##initArrayMicroMicro($member)
#elseif($member.seqSize)
#*----*##initSeqMicroMicro($member)
#elseif($member.typeKind.equals("user"))
#*----*##initUserMicroMicro($member)
#else
#*----*##initBasicMicroMicro($member)
#end
#end

##------------------------------------------------------------------------------
## Macro to intialize a member with an alias
##------------------------------------------------------------------------------
#macro(initUserMicroMicro $member )
    if (!${member.nativeTypeFQName}_initialize(#if(!$member.name.equals(""))${member.sampleRef}${member.name}#else${member.samplePoint}#end))
    {
        return RTI_FALSE;
    }
#end

##------------------------------------------------------------------------------
## Macro to intialize arrays or sequences
##------------------------------------------------------------------------------
#macro(initArrayofSeqMicroMicro $member)
    {
        RTI_INT32 i;
        for (i = 0; i < #addDimensionMultiplicationMicroMicro($member) ; i++)
        {
#initSeqMicroMicro($member)
        }
    }
#end

##------------------------------------------------------------------------------
## Macro to intialize sequences
##------------------------------------------------------------------------------
#macro(initSeqMicroMicro $member)
#if($member.typeKind.equals("user"))
    if (!${member.sequenceInitMethod}(#if(!$member.name.equals(""))${member.sampleRef}${member.name}#if($member.dimensionList)[i]#end#else${member.samplePoint}#if($member.dimensionList)[i]#end#end))
    {
        return RTI_FALSE;
    }
    if (!${member.sequenceSetMaxMethod}(#if(!$member.name.equals(""))${member.sampleRef}${member.name}#if($member.dimensionList)[i]#end#else${member.samplePoint}#if($member.dimensionList)[i]#end#end, ($member.seqSize)))
    {
        return RTI_FALSE;
    }
#else
#if($member.dimensionList)
        if (!${member.sequenceInitMethod}(#if(!$member.name.equals(""))${member.sampleRef}${member.name}[i]#else&(*${member.samplePoint})[i] #end))
        {
            return RTI_FALSE;
        }
        if (!${member.sequenceSetMaxMethod}(#if(!$member.name.equals(""))${member.sampleRef}${member.name}[i]#else&(*${member.samplePoint})[i] #end,($member.seqSize)#if($member.strSize),(${member.strSize})#end))
        {
            return RTI_FALSE;
        }
#else
    if (!${member.sequenceInitMethod}(#if(!$member.name.equals(""))${member.sampleRef}${member.name}#else${member.samplePoint} #end))
    {
        return RTI_FALSE;
    }
    if (!${member.sequenceSetMaxMethod}(#if(!$member.name.equals(""))${member.sampleRef}${member.name}#else${member.samplePoint} #end,($member.seqSize)#if($member.strSize),(${member.strSize})#end))
    {
        return RTI_FALSE;
    }
#end
#end
#end

##------------------------------------------------------------------------------
## Macro to intialize array
##------------------------------------------------------------------------------

#macro(initArrayMicroMicro $member)
#if($member.typeKind.equals("user"))
    {
        int i = 0;
        $member.nativeTypeFQName* elem =
            ($member.nativeTypeFQName*) #if(!$member.name.equals(""))${member.sampleRef}${member.name}#else${member.samplePoint}#end[0];

        for (i = 0; i < #addDimensionMultiplicationMicroMicro($member); ++i, ++elem)
        {
            if (!${member.nativeTypeFQName}_initialize(elem))
            {
                return RTI_FALSE;
            }
        }
    }
#elseif($member.strSize)
    if (!CDR_StringArray_initialize(#if($member.name.equals(""))(*sample)#else${member.samplePoint}${member.name}#end,
        #addDimensionMultiplicationMicroMicro($member),(${member.strSize}), ${member.typeEnum}))
    {
        return RTI_FALSE;
    }
#else
    CDR_Primitive_init_array(
        #if($member.name.equals(""))(*sample)#else${member.samplePoint}${member.name}#end, (#addDimensionMultiplicationMicroMicro($member)*${member.elementSize}));
#end
#end

##------------------------------------------------------------------------------
## Macro to intialize basic
##------------------------------------------------------------------------------
## string initializer allocates memory and initializes to null string

#macro(initBasicMicroMicro $member)
#if($member.strSize)
    if (!${member.elementInitMethod}(#if(!$member.name.equals(""))${member.sampleRef}${member.name}#else${member.samplePoint}#end, (${member.strSize})))
    {
        return RTI_FALSE;
    }
#else
    ${member.elementInitMethod}(#if(!$member.name.equals(""))${member.sampleRef}${member.name})#else${member.samplePoint})#end;
#end
#end

##******************************************************************************
## Macro finalize
##******************************************************************************
#macro(finalizeMicroMicro $memberFieldMapList)
#foreach($member in $memberFieldMapList)
#if($member.directive)
#printCopyDirectiveNoDeclarationMicroMicro($member)
#else
#finalize_memberMicroMicro($member)
#end
#end
#end

#macro(finalize_memberMicroMicro $member)
#*----*##if($member.dimensionList && $member.seqSize)
#*------*##finalizeArrayofSequencesMicroMicro($member)
#*----*##elseif($member.dimensionList)
#*------*##finalizeArrayMicroMicro($member)
#*----*##elseif($member.seqSize)
#*------*##finalizeSeqMicroMicro($member)
#*----*##elseif($member.typeKind.equals("user"))
#*------*##finalizeUserMicroMicro($member)
#*----*##elseif($member.strSize)
#*------*#    ${member.finalizeMethod}(#if(!$member.name.equals(""))${member.sampleRef}${member.name}#else#*--*#sample#end);
#*----*##end
#end

##------------------------------------------------------------------------------
## Macro finalizeAlias
##------------------------------------------------------------------------------
#macro(finalizeUserMicroMicro $member)
    ${member.nativeTypeFQName}_finalize(#if(!$member.name.equals(""))${member.sampleRef}${member.name}#else${member.samplePoint}#end);
#end
##------------------------------------------------------------------------------
## Macro finalizeArrayofSequences
##------------------------------------------------------------------------------
#macro(finalizeArrayofSequencesMicroMicro $member)
    {
        RTI_UINT32 i;
        for (i = 0; i < #addDimensionMultiplicationMicroMicro($member); i++)
        {
            #finalizeSeqMicroMicro($member)
        }
    }
#end
##------------------------------------------------------------------------------
## Macro finalizeArray
##------------------------------------------------------------------------------
#macro(finalizeArrayMicroMicro $member)
#if($member.typeKind.equals("user"))
    {
        int i = 0;
        $member.nativeTypeFQName* elem =
            ($member.nativeTypeFQName*) #if(!$member.name.equals(""))${member.sampleRef}${member.name}#else${member.samplePoint}#end[0];

        for (i = 0; i < #addDimensionMultiplicationMicroMicro($member); ++i, ++elem)
        {
            ${member.nativeTypeFQName}_finalize(elem);
        }
    }

#elseif($member.strSize)
    CDR_StringArray_finalize(#if($member.name.equals(""))(*sample)#else${member.samplePoint}${member.name}#end, #addDimensionMultiplicationMicroMicro($member),${member.typeEnum});
#end
#end

##------------------------------------------------------------------------------
## Macro finalize sequences
##------------------------------------------------------------------------------
#macro(finalizeSeqMicroMicro $member)
#if($member.typeKind.equals("user"))
    ${member.sequenceFinalizeMethod}(#if(!$member.name.equals(""))${member.sampleRef}${member.name}#if($member.dimensionList)[i]#end#else${member.samplePoint}#if($member.dimensionList)[i]#end#end);
#else
    ${member.sequenceFinalizeMethod}(#if(!$member.name.equals(""))${member.sampleRef}${member.name}#if($member.dimensionList)[i]#end#elseif($member.dimensionList)&(*sample)[i]#else sample#end);
#end
#end



##******************************************************************************
## Macro copy
##******************************************************************************

#macro(copyMicroMicro $node)
#foreach($member in $node.memberFieldMapList)
#if($member.directive)
#printCopyDirectiveNoDeclarationMicroMicro($member)
#else
#*--*##if($node.constructKind=="union")
#*--*##initCasesMicroMicro($member)
#*--*##end
#*--*##copyMemberMicroMicro($member)
#*--*##if($node.constructKind=="union")
#*--*#} #if($member.labelList.get(0)!="(default)")break #end;
#*--*##end
#end
#end
#end


##******************************************************************************
## Macro copyMember
##******************************************************************************

#macro(copyMemberMicroMicro $member)
#*----*##if($member.dimensionList && $member.seqSize)
#*------*##copyArrayofSeqMicroMicro($member)
#*----*##elseif($member.dimensionList)
#*------*##copyarrayMicroMicro($member) 
#*----*##elseif($member.seqSize)
#*------*##copySeqMicroMicro($member)
#*----*##elseif($member.typeKind.equals("user"))
#*------*##copyUserMicroMicro($member)
#*----*##else
#*------*##copyBasicMicroMicro($member)
#*----*##end
#end

##------------------------------------------------------------------------------
## Macro to copy User
##------------------------------------------------------------------------------
#macro(copyUserMicroMicro $member)
    if (!${member.nativeTypeFQName}_copy(
#*------*##if($member.name.equals(""))
       ${member.dstSample}, ${member.srcSample}))
    {
#*------*##else
       ${member.dstRef}${member.name}, ${member.srcRef}${member.name}))
    {
#*------*##end
        return RTI_FALSE;
    }
#end

##------------------------------------------------------------------------------
## Macro to copy Basic types
##------------------------------------------------------------------------------
#macro(copyBasicMicroMicro $member)
#*--*##if($member.strSize)
    if (!${member.elementCopyMethod}(#if(!$member.name.equals(""))${member.dstRef}${member.name}, ${member.srcRef}${member.name}#else dst, src#end, (${member.strSize})))
    {
        return RTI_FALSE;
    }
#*--*##else
## PREVIOUS IMPLEMENTATION - Why !$member.name.equals("") ?
##if(!$member.name.equals(""))    ${member.dstSample}${member.name} = ${member.srcSample}${member.name}#else    (*dst) = (*src)#end;
    ${member.elementCopyMethod}(#if(!$member.name.equals(""))${member.dstRef}${member.name}, ${member.srcRef}${member.name}#else dst, src#end);
#*--*##end
#end

##------------------------------------------------------------------------------
## Macro to copy Array of sequences
##------------------------------------------------------------------------------
#macro(copyArrayofSeqMicroMicro $member)
    {
        RTI_UINT32 i;

        for (i = 0; i < #addDimensionMultiplicationMicroMicro($member); i++)
        {
            #copySeqMicroMicro($member)
        }
    }
#end

##------------------------------------------------------------------------------
## Macro to copy Arrays of basic types
##------------------------------------------------------------------------------
#macro(copyarrayMicroMicro $member)
#if($member.typeKind.equals("user"))
    {
        int i = 0;
#if($member.name.equals(""))
        ${member.nativeTypeFQName}* elemOut = (${member.nativeTypeFQName}*) &(*dst)${member.name}[0];
        const ${member.nativeTypeFQName}* elemIn = (const ${member.nativeTypeFQName}*) &(*src)${member.name}[0];
#else
        ${member.nativeTypeFQName}* elemOut = (${member.nativeTypeFQName}*) ${member.dstRef}${member.name}[0];
        const ${member.nativeTypeFQName}* elemIn = (const ${member.nativeTypeFQName}*) ${member.srcRef}${member.name}[0];
#end
        for (i = 0; i < #addDimensionMultiplicationMicroMicro($member);
             ++i, ++elemOut, ++elemIn)
        {
            if (!${member.nativeTypeFQName}_copy(elemOut,(const ${member.nativeTypeFQName}*)elemIn))
            {
                return RTI_FALSE;
            }
        }
    }

#elseif($member.strSize)
    if (!CDR_StringArray_copy(
        #if(!$member.name.equals(""))${member.dstSample}${member.name},${member.srcSample}${member.name},#else (*dst), (*src),#end
        
        #addDimensionMultiplicationMicroMicro($member),($member.strSize) + 1 ,
         ${member.typeEnum}))
    {
        return RTI_FALSE;
    }
#else
    CDR_Primitive_copy_array(#if(!$member.name.equals(""))${member.dstSample}${member.name},${member.srcSample}${member.name},#else (*dst), (*src),#end(#addDimensionMultiplicationMicroMicro($member)*${member.elementSize}));
#end
#end

##------------------------------------------------------------------------------
## Macro to copy Sequences
##------------------------------------------------------------------------------
#macro(copySeqMicroMicro $member)
    if (!${member.sequenceCopyMethod}(#if(!$member.name.equals(""))${member.dstRef}${member.name}#if($member.dimensionList)[i]#end #else #if($member.dimensionList)&(*dst)[i]#else dst#end#end,
        #if(!$member.name.equals(""))${member.srcRef}${member.name}#if($member.dimensionList)[i]#end #else #if($member.dimensionList)&(*src)[i] #else src#end #end #if($member.strSize && !$member.typeKind.equals("user")),(${member.strSize})#end)) {
        return RTI_FALSE;
    }
#end
##------------------------------------------------------------------------------
## Macro headInit
##------------------------------------------------------------------------------

#macro(headerInitMicroMicro  $node)
#if($node.baseTypeFQName)
   $node.baseTypeFQName parent;
#end
#foreach($member in $node.memberFieldMapList)
#if($member.directive)
#printAllCopyDirectivesMicroMicro($member)
#else
#initMemberMicroMicro($node $member)
#end
#end
#end


#macro(initMemberMicroMicro $node $member)
#iTypedefMicroMicro($member)#iSeqMicroMicro($member)#iTypeMicroMicro($member) #if($member.name.equals(""))$node.nativeFQNameInModule#else${member.name}#end#arraySizeIfitisNeededMicroMicro($member);
#end

#macro(iTypedefMicroMicro $member)
#if($member.name.equals(""))typedef #end
#end

#macro(iSeqMicroMicro $member)
#if($member.seqSize)struct #end
#end

#macro(iTypeMicroMicro $member)
#if($member.seqSize)${member.nativeTypeSeqFQName}#else${member.nativeTypeFQName}#end	
#end

#macro(iPointerMicroMicro $member)
#*--*##if($member.isPointer)*#end
#end
 

##******************************************************************************
## Macro to declareTypeFunctions and add NDDSUSERDllExport
##****************************************************************************** 

#* 21may2014,as: Why is ${node.nativeFQNameInModule}+Seq used
 * in the two following macros instead of ${member.nativeTypeSeqFQName}?
 *#
#macro(declareTypeSequenceStructMicroMicro $node)
${envMap.POUND_CHAR}define REDA_SEQUENCE_USER_API
${envMap.POUND_CHAR}define T ${node.nativeFQNameInModule}
${envMap.POUND_CHAR}define TSeq ${node.nativeFQNameInModule}Seq
${envMap.POUND_CHAR}define REDA_SEQUENCE_EXCLUDE_C_METHODS
${envMap.POUND_CHAR}define REDA_SEQUENCE_USER_CPP
${envMap.POUND_CHAR}include <reda/reda_sequence_decl.h>
#end

#macro(declareTypeSequenceFunctionsMicroMicro $node)
${envMap.POUND_CHAR}define REDA_SEQUENCE_USER_API
${envMap.POUND_CHAR}define T ${node.nativeFQNameInModule}
${envMap.POUND_CHAR}define TSeq ${node.nativeFQNameInModule}Seq
${envMap.POUND_CHAR}define REDA_SEQUENCE_EXCLUDE_STRUCT
${envMap.POUND_CHAR}define REDA_SEQUENCE_USER_CPP
${envMap.POUND_CHAR}include <reda/reda_sequence_decl.h>
#end

#macro(declareTypeFunctionsMicroMicro $node)

NDDSUSERDllExport extern RTI_BOOL
${node.nativeFQNameInModule}_initialize(${node.nativeFQNameInModule}* sample);

NDDSUSERDllExport extern ${node.nativeFQNameInModule}*
${node.nativeFQNameInModule}_create(void);

${envMap.POUND_CHAR}ifndef RTI_CERT
NDDSUSERDllExport extern RTI_BOOL
${node.nativeFQNameInModule}_finalize(${node.nativeFQNameInModule}* sample);

NDDSUSERDllExport extern void
${node.nativeFQNameInModule}_delete(${node.nativeFQNameInModule}* sample);
${envMap.POUND_CHAR}endif

NDDSUSERDllExport extern RTI_BOOL
${node.nativeFQNameInModule}_copy(${node.nativeFQNameInModule}* dst, const ${node.nativeFQNameInModule}* src);
#end

#macro(defineFnTypeInitializeMicroMicro $member)
RTI_BOOL
${member.nativeFQNameInModule}_initialize(${member.nativeFQNameInModule}* sample)
{
    if (sample == NULL)
    {
        return RTI_FALSE;
    }
    
#if($member.constructKind.equals("enum"))
#* 21may2014,as: can't this be changed to initialize
 * the enum to its first defined value?
 *#   
    /* The following method initializes the enum value to zero. However,
    * some enumerations may not have a member with the value zero. In such
    * cases, it may be desirable to modify the generated code to use a valid
    * enumeration member instead.
    */
    CDR_Primitive_init_enum((CDR_Enum*) sample);
#else
#*--*##if($member.baseTypeFQName)
    if (!${member.baseTypeFQName}_initialize((${member.baseTypeFQName}*)sample))
    {
        return RTI_FALSE;
    }
#*--*##end
#*--*##if($member.constructKind.equals("const"))
    #initialize_memberMicroMicro($member)   
#*--*##else
    #initializeMicroMicro($member)## Call to a macro to initialize funtion
#*--*##end
#end
    return RTI_TRUE;
}
#end

#macro(defineFnTypeFinalizeMicroMicro $member)
#*-****************************************************************-*#
#* 21may2014,as: this operation should probably be void, since
 * its return value is hard-coded.
 * 30mar2015,as: operation now returns RTI_FALSE when invoked with
   (sample == NULL).
 *#
RTI_BOOL
${member.nativeFQNameInModule}_finalize(${member.nativeFQNameInModule}* sample)
{
    if (sample == NULL)
    {
        return RTI_FALSE;
    }
    
#if($member.baseTypeFQName)
    ${member.baseTypeFQName}_finalize((${member.baseTypeFQName}*)sample);
#end
    #finalizeMicroMicro($member.memberFieldMapList)## Call to a macro to finalize
    return RTI_TRUE;
}
#end

#macro(defineFnTypeCreateMicroMicro $member)
${member.nativeFQNameInModule} *
${member.nativeFQNameInModule}_create(void)
{
    ${member.nativeFQNameInModule}* sample;
    OSAPI_Heap_allocate_struct(&sample, ${member.nativeFQNameInModule});
    if (sample != NULL)
    {
        if (!${member.nativeFQNameInModule}_initialize(sample))
        {
            OSAPI_Heap_free_struct(sample);
            sample = NULL;
        }
    }
    return sample;
}
#end

#macro(defineFnTypeDeleteMicroMicro $member)
${envMap.POUND_CHAR}ifndef RTI_CERT
void
${member.nativeFQNameInModule}_delete(${member.nativeFQNameInModule}* sample)
{
    if (sample != NULL)
    {
        /* ${member.nativeFQNameInModule}_finalize() always 
           returns RTI_TRUE when called with sample != NULL */
        ${member.nativeFQNameInModule}_finalize(sample);
        OSAPI_Heap_free_struct(sample);
    }
}
${envMap.POUND_CHAR}endif
#end

#macro(defineFnTypeCopyMicroMicro $member)
RTI_BOOL
${member.nativeFQNameInModule}_copy(${member.nativeFQNameInModule}* dst,const ${member.nativeFQNameInModule}* src)
{        
    if ((dst == NULL) || (src == NULL))
    {
        return RTI_FALSE;
    }
#if($member.constructKind.equals("enum"))
    CDR_Primitive_copy_enum((CDR_Enum *)dst, (CDR_Enum *)src);
#else
#*--*##if($member.baseTypeFQName)
    if(!${member.baseTypeFQName}_copy((${member.baseTypeFQName}*)dst,(${member.baseTypeFQName}*)src)) {
        return RTI_FALSE;
    }
#*--*##end
#*--*##if($member.constructKind.equals("union"))
    #createTypeFieldMemberMicroMicro($member.unionDiscriminatorMap $node)
    #copyMemberMicroMicro($member.unionDiscriminatorMap)
    switch(src->_d) {
#*--*##end
    #copyMicroMicro($node)## Call to a macro to copy the members
#*--*##if($member.constructKind.equals("union"))
    }
#*--*##end
#end
    return RTI_TRUE;
}
#end

#macro(declareFnTypeSupportRegisterUnregisterMicroMicro $member)
NDDSUSERDllExport extern DDS_ReturnCode_t
${member.nativeFQNameInModule}TypeSupport_register_type(
                    DDS_DomainParticipant* participant,
                    const char* type_name);

${envMap.POUND_CHAR}ifndef RTI_CERT
NDDSUSERDllExport extern DDS_ReturnCode_t
${member.nativeFQNameInModule}TypeSupport_unregister_type(
                    DDS_DomainParticipant* participant,
                    const char* type_name);
${envMap.POUND_CHAR}endif

#end

#macro(defineFnTypeSupportRegisterUnregisterMicroMicro $member)
DDS_ReturnCode_t
${member.nativeFQNameInModule}TypeSupport_register_type(
                    DDS_DomainParticipant* participant,
                    const char* type_name)
{
    DDS_ReturnCode_t retcode = DDS_RETCODE_ERROR;

    if (participant == NULL) 
    {
        goto done;
    }
    
    if (type_name == NULL) 
    {
        type_name = ${member.nativeFQNameInModule}TypePlugin_get_default_type_name();
        if (type_name == NULL)
        {
            goto done;
        }
    }

    retcode = DDS_DomainParticipant_register_type(
                participant,
                type_name,
                ${member.nativeFQNameInModule}TypePlugin_get());
                
    if (retcode != DDS_RETCODE_OK)
    {
        goto done;
    }
    
    retcode = DDS_RETCODE_OK;

done:

    return retcode;
}

${envMap.POUND_CHAR}ifndef RTI_CERT
DDS_ReturnCode_t
${member.nativeFQNameInModule}TypeSupport_unregister_type(
                    DDS_DomainParticipant* participant,
                    const char* type_name)
{
    DDS_ReturnCode_t retcode = DDS_RETCODE_ERROR;

    if (participant == NULL) 
    {
        goto done;
    }
    
    if (type_name == NULL) 
    {
        type_name = ${member.nativeFQNameInModule}TypePlugin_get_default_type_name();
        if (type_name == NULL)
        {
            goto done;
        }
    }

    if (${member.nativeFQNameInModule}TypePlugin_get() !=
            DDS_DomainParticipant_unregister_type(participant,type_name))
    {
        goto done;
    }
    
    retcode = DDS_RETCODE_OK;

done:

    return retcode;
}
${envMap.POUND_CHAR}endif
#end

#macro(declareFnTypeSupportGetTypeNameMicroMicro $member)
NDDSUSERDllExport extern const char*
${member.nativeFQNameInModule}TypeSupport_get_type_name(void);
#end

#macro(defineFnTypeSupportGetTypeNameMicroMicro $member)
const char*
${member.nativeFQNameInModule}TypeSupport_get_type_name(void)
{
    return ${member.nativeFQNameInModule}TYPENAME;
}
#end

#macro(declareFnTypeSupportSampleMicroMicro $member)
NDDSUSERDllExport extern ${member.nativeFQNameInModule} *
${member.nativeFQNameInModule}TypeSupport_create_data(void);

${envMap.POUND_CHAR}ifndef RTI_CERT
NDDSUSERDllExport extern DDS_ReturnCode_t
${member.nativeFQNameInModule}TypeSupport_delete_data(
                    ${member.nativeFQNameInModule} *data);
${envMap.POUND_CHAR}endif
#end

#macro(defineFnTypeSupportSampleMicroMicro $member)
${member.nativeFQNameInModule} *
${member.nativeFQNameInModule}TypeSupport_create_data(void)
{
    ${member.nativeFQNameInModule} *data = NULL;
    
    data = ${member.nativeFQNameInModule}_create();
    
    return data;
}

${envMap.POUND_CHAR}ifndef RTI_CERT
DDS_ReturnCode_t
${member.nativeFQNameInModule}TypeSupport_delete_data(
                    ${member.nativeFQNameInModule} *data)
{
    ${member.nativeFQNameInModule}_delete(data);
    return DDS_RETCODE_OK; 
}
${envMap.POUND_CHAR}endif
#end

#macro(defineFnTypeSupportCdr $member)

#if($member.languageBinding.equals("FLAT_DATA") || ($member.interpreted=="true"))

static struct DDS_TypeProgramNode ${member.nativeFQNameInModule}_gv_ProgramNode = DDS_TypeProgramNode_INITIALIZER;

#if ($member.dataRepresentationMask == 5) ## XCDRv2 && XCDRv1 ( (4) | (1) )
static DDS_DataRepresentationId_t ${member.nativeFQNameInModule}_gv_AutoRepresentation = DDS_XCDR_DATA_REPRESENTATION;
static DDS_DataRepresentationId_t ${member.nativeFQNameInModule}_gv_XCDR1 = DDS_XCDR_DATA_REPRESENTATION;
static DDS_DataRepresentationId_t ${member.nativeFQNameInModule}_gv_XCDR2 = DDS_XCDR2_DATA_REPRESENTATION;
#elseif ($member.dataRepresentationMask == 4) ## XCDRv2 
static DDS_DataRepresentationId_t ${member.nativeFQNameInModule}_gv_AutoRepresentation = DDS_XCDR2_DATA_REPRESENTATION;
static DDS_DataRepresentationId_t ${member.nativeFQNameInModule}_gv_XCDR1 = DDS_INVALID_DATA_REPRESENTATION;
static DDS_DataRepresentationId_t ${member.nativeFQNameInModule}_gv_XCDR2 = DDS_XCDR2_DATA_REPRESENTATION;
#elseif ($member.dataRepresentationMask == 1) ## XCDRv1
static DDS_DataRepresentationId_t ${member.nativeFQNameInModule}_gv_AutoRepresentation = DDS_XCDR_DATA_REPRESENTATION;
static DDS_DataRepresentationId_t ${member.nativeFQNameInModule}_gv_XCDR1 = DDS_XCDR_DATA_REPRESENTATION;
static DDS_DataRepresentationId_t ${member.nativeFQNameInModule}_gv_XCDR2 = DDS_INVALID_DATA_REPRESENTATION;
#end

DDS_ReturnCode_t 
${member.nativeFQNameInModule}TypeSupport_serialize_data_to_cdr_buffer_ex(
                                    char *buffer,                                
                                    unsigned int *length,                        
                                    const ${member.nativeFQNameInModule} *a_data,                         
                                    DDS_DataRepresentationId_t  representation)
{
    struct DDS_TypePlugin tp;
    DDS_EncapsulationId_t encapsulation;
    const struct RTIXCdrInterpreterPrograms *programs = NULL;
    
    DDS_TypePlugin_initialize(&tp);

    ${member.nativeFQNameInModule}_gv_ProgramNode.type_intf = ${member.nativeFQNameInModule}TypePlugin_get();

    programs = DDS_DomainParticipantFactory_assert_program(
                                DDS_TheParticipantFactory,
                                ${member.nativeFQNameInModule}TypePlugin_get(),
                                &${member.nativeFQNameInModule}_gv_ProgramNode,
                                ${member.nativeFQNameInModule}_get_typecode());
                                    
    if (programs == NULL)
    {
        return DDS_RETCODE_ERROR;
    }

    tp.property.program_context = ${member.nativeFQNameInModule}_gv_ProgramNode.context;

    DDS_TypePlugin_initialize_static(
        &tp,
        ${member.nativeFQNameInModule}TypePlugin_get(),
        programs);

    if (DDS_RETCODE_OK != DDS_TypeSupport_resolve_representation(
                                    &representation,
                                    ${member.nativeFQNameInModule}_gv_AutoRepresentation,
                                    ${member.nativeFQNameInModule}_gv_XCDR1,
                                    ${member.nativeFQNameInModule}_gv_XCDR2,
                                    &encapsulation))
    {
        return DDS_RETCODE_ERROR;
    }

    return XCDR_Interpreter_serialized_sample_to_buffer(
               &tp,
               buffer,
               length,
               (const void *)a_data,
               representation,
               encapsulation);
}

DDS_ReturnCode_t 
${member.nativeFQNameInModule}TypeSupport_serialize_data_to_cdr_buffer(
                                       char *buffer,
                                       unsigned int *length,
                                       const ${member.nativeFQNameInModule} *a_data)
{
    return ${member.nativeFQNameInModule}TypeSupport_serialize_data_to_cdr_buffer_ex(
                        buffer,
                        length,
                        a_data,
                        DDS_AUTO_DATA_REPRESENTATION);

}

DDS_ReturnCode_t 
${member.nativeFQNameInModule}TypeSupport_deserialize_data_from_cdr_buffer(
                                       ${member.nativeFQNameInModule} *a_data,
                                       const char *buffer,
                                       unsigned int length)
{
    struct CDR_Stream_t stream;
    struct DDS_TypePlugin tp;
    const struct RTIXCdrInterpreterPrograms *programs = NULL;

    DDS_TypePlugin_initialize(&tp);
    
    if (!CDR_Stream_initialize_w_buffer(&stream,buffer,length))
    {
        return DDS_RETCODE_ERROR;
    }
    
    programs = DDS_DomainParticipantFactory_assert_program(
                            DDS_TheParticipantFactory,
                            ${member.nativeFQNameInModule}TypePlugin_get(),
                            &${member.nativeFQNameInModule}_gv_ProgramNode,
                            ${member.nativeFQNameInModule}_get_typecode());
                                    
    if (programs == NULL)
    {
        return DDS_RETCODE_ERROR;
    }

    tp.property.program_context = ${member.nativeFQNameInModule}_gv_ProgramNode.context;

    DDS_TypePlugin_initialize_static(
                &tp,
                ${member.nativeFQNameInModule}TypePlugin_get(),
                programs);

    if (!XCDR_Interpreter_deserialize(&tp,a_data,&stream,RTI_TRUE,RTI_TRUE,0))
    {
        return DDS_RETCODE_ERROR;
    }

    return DDS_RETCODE_OK;
}
#*--*##else
DDS_ReturnCode_t
${member.nativeFQNameInModule}TypeSupport_serialize_data_to_cdr_buffer_ex(
                                  char *buffer,
                                  unsigned int *length,
                                  const ${member.nativeFQNameInModule} *a_data,
                                  DDS_DataRepresentationId_t representation)
{
    struct CDR_Stream_t stream;
    RTI_UINT32 ser_length;

    if ((representation != DDS_XCDR_DATA_REPRESENTATION) &&
        (representation != DDS_AUTO_DATA_REPRESENTATION))
    {
        return DDS_RETCODE_BAD_PARAMETER;
    }

    if (buffer == NULL)
    {
        ser_length = ${member.nativeFQNameInModule}_get_serialized_sample_size(NULL,0) + 
                      RTI_CDR_ENCAPSULATION_HEADER_SIZE;
                      
        *length = ser_length;
        return DDS_RETCODE_OK;
    }

    if (!CDR_Stream_initialize_w_buffer(&stream,buffer,*length))
    {
        return DDS_RETCODE_ERROR;
    }

    /* Serialize the header on the inline Qos stream */
    if (!CDR_Stream_serialize_header(&stream,
                                     RTI_ENCAPSULATION_ID_CDR_NATIVE,
                                     RTI_CDR_ENCAPSULATION_OPTIONS_NONE))
    {
        return DDS_RETCODE_ERROR;
    }

    if (!${member.nativeFQNameInModule}_cdr_serialize(NULL,&stream,(const void *)a_data,NULL))
    {
        return DDS_RETCODE_ERROR;
    }

    *length = CDR_Stream_get_current_position_offset(&stream);

    return DDS_RETCODE_OK;
}

DDS_ReturnCode_t
${member.nativeFQNameInModule}TypeSupport_serialize_data_to_cdr_buffer(
                                char *buffer,
                                unsigned int *length,
                                const ${member.nativeFQNameInModule} *a_data)
{
    return ${member.nativeFQNameInModule}TypeSupport_serialize_data_to_cdr_buffer_ex(
                        buffer,
                        length,
                        a_data,
                        DDS_AUTO_DATA_REPRESENTATION);
}

DDS_ReturnCode_t
${member.nativeFQNameInModule}TypeSupport_deserialize_data_from_cdr_buffer(
                                ${member.nativeFQNameInModule} *sample,
                                const char *buffer,
                                unsigned int length)
{
    struct CDR_Stream_t stream;
    DDS_EncapsulationId_t encapsulation;
    RTI_BOOL big_endian = RTI_FALSE;
    
    if (!CDR_Stream_initialize_w_buffer(&stream,buffer,length))
    {
       return DDS_RETCODE_ERROR;
    }

    if (!CDR_Stream_deserialize_header(&stream,&encapsulation))
    {
       return DDS_RETCODE_ERROR;
    }
    
    if ((RTI_CDR_ENCAPSULATION_ID_CDR_LE != encapsulation) &&
        (RTI_CDR_ENCAPSULATION_ID_CDR_BE != encapsulation))
    {
        return DDS_RETCODE_ERROR;
    }

    if (RTI_CDR_ENCAPSULATION_ID_CDR_BE == encapsulation)
    {
        big_endian = RTI_TRUE;
    }

    CDR_Stream_set_endianess(&stream,big_endian);
    
    if (!${member.nativeFQNameInModule}_cdr_deserialize(
                                                    NULL,sample,&stream,NULL))
    {
        return DDS_RETCODE_ERROR;
    }

    return DDS_RETCODE_OK;
}
#*--*##end

#end
