##/* $Id$
##
##   Copyright (c) 2001-2025 Real-Time Innovations, Inc.  All rights reserved.
##   No duplications, whole or partial, manual or electronic, may be made
##   without prior written permission.  Any such copies, or
##   revisions thereof, must display this notice unaltered.
##   This code contains trade secrets of Real-Time Innovations, Inc.

##modification history:
##---------------------
##240,18dec15,as  CODEGENII-524 Update for Micro 2.4.6
##222,13may15,as  Added RTI_CERT guards around delete operations
##222,25mar15,as  Removed unused PluginHelper functions.
##222,06jun14,as  Updated micro templates [resolved MICRO-79, MICRO-187,
##                MICRO-341, MICRO-346, MICRO-740, MICRO-678,
##                MICRO-777, MICRO-779, MICRO-796]
##10a,16jan13, ajm RRTIDDSGEN-52 Renaming variables and functions for the codereview
##10a,4dec12, ajm Refactoring of the code and variable names.
##10a,25oct12, ajm Refactorizing code and variable names:
##                typeIdl-->nativeTypeFQName, pathName-->FQName
##10a,01dec11,yy added support for ulongs, floats for Micro
##10a,01dec11,yy added support for (w)chars, octets, booleans, (u)shorts for Micro
##10a,30nov11,yy added support for longs for Micro
##10a,17nov11,yy changes for Micro
##10a,14nov11,yy created
##----------------------------------------------------------------
##-----------------------------------------------------------------
##
##             Macros for the TypePluginBody in MicroC
##
##---------------------------------------------------------------------
##---------------------------------------------------------------------

##******************************************************************************
## Macro to Serialize/Deserialize
##******************************************************************************

#macro(serializeMicroMicro $memberFieldMapList $key)
#*--*##foreach($member in $memberFieldMapList)
#if($node.constructKind.equals("union"))
#initCasesMicroMicro($member)
#end
#if($member.directive)
#printCopyDirectiveNoDeclarationMicroMicro($member)
#else
#serializeMemberMicroMicro($member $key)
#end
#if($node.constructKind.equals("union"))
        } #if($member.label.get(0)!="(default)")break #end;
#end
#*--*##end
#end

#macro(deserializeMicroMicro $memberFieldMapList $key)
#*--*##foreach($member in $memberFieldMapList)
#if($node.constructKind.equals("union"))
#initCasesMicroMicro($member)
#end
#if($member.directive)
#printCopyDirectiveNoDeclarationMicroMicro($member)
#else
#deserializeMemberMicroMicro($member $key)
#end
#if($node.constructKind.equals("union"))
        } #if($member.label.get(0)!="(default)")break #end;
#end
#*--*##end
#end

##------------------------------------------------------------------------------
##Macro to Serialize/Deserialize a member of a struct
##------------------------------------------------------------------------------

#macro(serializeMemberMicroMicro $member $key)
#*--*##if($member.dimensionList && $member.seqSize)
#*----*##serializeArrayofSeqMicroMicro($member $key)
#*--*##elseif($member.dimensionList)
#*----*##serializeArrayMicroMicro($member $key)
#*--*##elseif($member.seqSize)
#*----*##serializeSeqMicroMicro($member $key)
#*--*##elseif($member.typeKind.equals("user"))
#*----*##serializeUserMicroMicro($member $key)
#*--*##else
#*----*##serializePrimitivesMicroMicro($member)
#*--*##end
#end

#macro(deserializeMemberMicroMicro $member $key)
#*--*##if($member.dimensionList && $member.seqSize)
#*----*##deserializeArrayofSeqMicroMicro($member $key)
#*--*##elseif($member.dimensionList)
#*----*##deserializeArrayMicroMicro($member $key)
#*--*##elseif($member.seqSize)
#*----*##deserializeSeqMicroMicro($member $key)
#*--*##elseif($member.typeKind.equals("user"))
#*----*##deserializeUserMicroMicro($member $key)
#*--*##else
#*----*##deserializePrimitivesMicroMicro($member)
#*--*##end
#end

##------------------------------------------------------------------------------
##Macro to Serialize/Deserialize an array of sequences
##------------------------------------------------------------------------------
#macro(serializeArrayofSeqMicroMicro $member $key)
   {
        RTI_UINT32 i;
        for (i = 0; i<  #addDimensionMultiplicationMicroMicro($member); ++i)
        {
#serializeSeqMicroMicro($member $key)
        }
   }
#end

#macro(deserializeArrayofSeqMicroMicro $member $key)
   {
        RTI_UINT32 i;
        for (i = 0; i<  #addDimensionMultiplicationMicroMicro($member); i++)
        {
#deserializeSeqMicroMicro($member $key)
        }
   }
#end

##------------------------------------------------------------------------------
##Macro to serialize sequences
##------------------------------------------------------------------------------
#macro(serializeSeqMicroMicro $member $key )
#*--*##if($member.typeKind.equals("user"))
        if (!PluginHelper_serialize_sequence(
                plugin,
                stream,
                (const struct REDA_Sequence* ) #if(!$member.name.equals(""))${member.sampleRef}${member.name}#else${member.samplePoint}#end#if($member.dimensionList)[i]#end,
                NULL,
                ${member.nativeTypeFQName}_cdr_serialize${key}))
        {
            return RTI_FALSE;
        }
#*--*##else
#*----*##if($member.strSize)
        if (!CDR_Stream_serialize_string_sequence(
#*----*##else
        if (!CDR_Stream_serialize_primitive_sequence(
#*----*##end
                stream,
                (const struct REDA_Sequence*) #if(!$member.name.equals(""))${member.sampleRef}${member.name}#else${member.samplePoint}#end#if($member.dimensionList)[i]#end,
#*----*##if($member.strSize)
                ($member.strSize),
#*----*##end
                ${member.typeEnum})) {
            return RTI_FALSE;
        }
    #end
#end

##------------------------------------------------------------------------------
##Macro to deserialize sequences
##-----------------------------------------------------------------------------
#macro(deserializeSeqMicroMicro $member $key)
#*--*##if($member.typeKind.equals("user"))
        if (!PluginHelper_deserialize_sequence(
                plugin,
                (struct REDA_Sequence*) #if(!$member.name.equals(""))${member.sampleRef}${member.name}#else${member.samplePoint}#end#if($member.dimensionList)[i]#end,
                stream,
                NULL,
                ${member.nativeTypeFQName}_cdr_deserialize${key}))
        {
            return RTI_FALSE;
        }
#*--*##else
#*----*##if($member.strSize)
        if (!CDR_Stream_deserialize_string_sequence(
#*----*##else
        if (!CDR_Stream_deserialize_primitive_sequence(
#*----*##end
                stream,
                (struct REDA_Sequence*) #if(!$member.name.equals(""))${member.sampleRef}${member.name}#else${member.samplePoint}#end#if($member.dimensionList)[i]#end,
#*----*##if($member.strSize)
                ($member.strSize),
#*----*##end
                ${member.typeEnum})) {
            return RTI_FALSE;
        }
#*--*##end

#end

##------------------------------------------------------------------------------
##Macro to Serialize/Deserialize TypeDef (Alias)
##-----------------------------------------------------------------------------
#macro(serializeUserMicroMicro $member $key)
    if(!${member.nativeTypeFQName}_cdr_serialize${key}(
            plugin,
            stream,
            #if(!$member.name.equals(""))${member.sampleRef}${member.name}#else${member.samplePoint}#end,
            NULL))
    {
        return RTI_FALSE;
    }
#end


#macro(deserializeUserMicroMicro $member $key)
    if(!${member.nativeTypeFQName}_cdr_deserialize${key}(
            plugin,
            #if(!$member.name.equals(""))${member.sampleRef}${member.name}#else${member.samplePoint}#end,
            stream,NULL))
    {
        return RTI_FALSE;
    }
#end


##------------------------------------------------------------------------------
##Macro to serialize/desearialize arrays
##-----------------------------------------------------------------------------
#macro(serializeArrayMicroMicro $member $key)
#*--*##if($member.typeKind.equals("user"))
    if (!PluginHelper_serialize_array(
            plugin,
            stream,
            (void*)#if(!$member.name.equals(""))${member.samplePoint}${member.name}#else*${member.samplePoint}#end,
            #addDimensionMultiplicationMicroMicro($member),
            sizeof($member.nativeTypeFQName),
            NULL,
            ${member.nativeTypeFQName}_cdr_serialize${key}))
    {
        return RTI_FALSE;
    }
#*--*##elseif($member.strSize)
    if (!CDR_Stream_serialize_string_array(
            stream,
            (void*)#if(!$member.name.equals(""))${member.samplePoint}${member.name}#else*${member.samplePoint}#end,
            #addDimensionMultiplicationMicroMicro($member),
            (${member.strSize}),
            ${member.typeEnum})) {
        return RTI_FALSE;
    }
#*--*##else
    if (!CDR_Stream_serialize_primitive_array(
            stream,
            (void*)#if(!$member.name.equals(""))${member.samplePoint}${member.name}#else*${member.samplePoint}#end,
            #addDimensionMultiplicationMicroMicro($member),
            ${member.typeEnum})) {
        return RTI_FALSE;
    }
#*--*##end
#end


#macro(deserializeArrayMicroMicro $member $key)
#*--*##if($member.typeKind.equals("user"))
    if (!PluginHelper_deserialize_array(
            plugin,
            (void*)#if(!$member.name.equals(""))${member.samplePoint}${member.name}#else*${member.samplePoint}#end,
            stream,
            #addDimensionMultiplicationMicroMicro($member),
            sizeof($member.nativeTypeFQName),
            NULL,
            ${member.nativeTypeFQName}_cdr_deserialize${key}))
    {
        return RTI_FALSE;
    }
#*--*##elseif($member.strSize)
    if (!CDR_Stream_deserialize_string_array(
            stream,
            (void*)#if(!$member.name.equals(""))${member.samplePoint}${member.name}#else*${member.samplePoint}#end,
            #addDimensionMultiplicationMicroMicro($member),
            (${member.strSize}),
            ${member.typeEnum})) {
        return RTI_FALSE;
    }
#*--*##else
    if (!CDR_Stream_deserialize_primitive_array(
            stream,
            (void*)#if(!$member.name.equals(""))${member.samplePoint}${member.name}#else*${member.samplePoint}#end,
            #addDimensionMultiplicationMicroMicro($member),
            ${member.typeEnum})) {
        return RTI_FALSE;
    }
#*--*##end
#end

##------------------------------------------------------------------------------
##Macro to serialize/deserialize primitives
##-----------------------------------------------------------------------------
## null checking for string pointers is handled by CDR_Steram_(de)serialize

#macro(serializePrimitivesMicroMicro $member)
#*--*##if($member.strSize)
    if (!${member.elementSerializeMethod}(
        stream, #if(!$member.name.equals(""))${member.samplePoint}${member.name}#else*${member.samplePoint}#end, (${member.strSize}))) {
        return RTI_FALSE;
    }
#*--*##else
    if (!${member.elementSerializeMethod}(
        stream, #if(!$member.name.equals(""))${member.sampleRef}${member.name}#else${member.samplePoint}#end)) {
        return RTI_FALSE;
    }
#*--*##end
#end


#macro(deserializePrimitivesMicroMicro $member)
#*--*##if($member.strSize)
    if (!${member.elementDeserializeMethod}(
        stream, #if(!$member.name.equals(""))${member.samplePoint}${member.name}#else*${member.samplePoint}#end, (${member.strSize}))) {
        return RTI_FALSE;
    }
#*--*##else
    if (!${member.elementDeserializeMethod}(
        stream, #if(!$member.name.equals(""))${member.sampleRef}${member.name}#else${member.samplePoint}#end)) {
        return RTI_FALSE;
    }
#*--*##end
#end


##******************************************************************************
## Macro to AligmentMaxSize
##******************************************************************************

#macro(CreateCurrentAligmentMaxSizeMicroMicro $memberFieldMapList)
#*--*##foreach($member in $memberFieldMapList)
#if($member.directive)
#printCopyDirectiveNoDeclarationMicroMicro($member)
#else
#CreateCurrentAligmentMaxSizeMemberMicroMicro($member)
#end
#*--*##end## We need an intro before to separate each member
#end


#macro(CreateCurrentAligmentMaxSizeMemberMicroMicro $member)
#*----*##if($member.dimensionList && $member.seqSize)
#*------*##getMaxSizeArrayofSeqMicroMicro($member "sample")
#*----*##else
    current_alignment += #aligmentMaxSizeMemberMicroMicro($member);

#end
#end

#macro(aligmentMaxSizeMemberMicroMicro $member)
#*----*##if($member.seqSize)#*
--------*##getMaxSizeSeqMicroMicro($member "sample" "current_alignment")#*
------*##elseif($member.dimensionList)#*
--------*##getMaxSizeSerialized_PrimitiveArrayMicroMicro($member "sample")#*
------*##elseif($member.typeKind.equals("user"))#*
--------*##getUserMaxSizeSerializedMicroMicro($member)#*
------*##else#*
--------*#${member.elementSizeMethod}(
#*------*#        current_alignment#if($member.strSize), ($member.strSize)+1#end)#*
----*##end
#end


##------------------------------------------------------------------------------
## Macro to getMaxSize of an array of sequences
##------------------------------------------------------------------------------

#macro(getMaxSizeArrayofSeqMicroMicro $member $key)
{
        RTI_UINT32 i, maxSize = current_alignment;

        for (i = 0; i <#addDimensionMultiplicationMicroMicro($member); i++) {
#*--*##if($member.typeKind.equals("user"))
            maxSize += PluginHelper_get_max_size_serialized_sequence(
                plugin,
                maxSize, ($member.seqSize),
                ${member.nativeTypeFQName}_get_serialized_${key}_size);
#*--*##elseif($member.strSize)
            maxSize += CDR_get_max_size_serialized_string_sequence(
                maxSize, ($member.seqSize), ($member.strSize), ${member.typeEnum});

#*--*##else
            maxSize += CDR_get_max_size_serialized_primitive_sequence(
                maxSize, ($member.seqSize), ${member.typeEnum});

#*--*##end
        }

        current_alignment +=  (maxSize - current_alignment) ;
    }
#end

##------------------------------------------------------------------------------
## Macro to getMaxSize of a sequence
##------------------------------------------------------------------------------

#macro(getMaxSizeSeqMicroMicro $member $key $var)
#*--*##if($member.typeKind.equals("user"))
        PluginHelper_get_max_size_serialized_sequence(
        plugin,
        $var, ($member.seqSize),
         ${member.nativeTypeFQName}_get_serialized_${key}_size)#*
----*##elseif($member.strSize)
CDR_get_max_size_serialized_string_sequence(
        $var,(${member.seqSize}),($member.strSize),${member.typeEnum}) #*
----*##else
CDR_get_max_size_serialized_primitive_sequence(
        $var, (${member.seqSize}), ${member.typeEnum})#*
----*##end
#end


##------------------------------------------------------------------------------
## Macro to getMaxSize of a alias(typedef)
##------------------------------------------------------------------------------

#macro(getUserMaxSizeSerializedMicroMicro $member)
${member.nativeTypeFQName}_get_serialized_sample_size(
        plugin,current_alignment)#*
*##end


##------------------------------------------------------------------------------
## Macro to getMaxSize of a array
##------------------------------------------------------------------------------
#macro(getMaxSizeSerialized_PrimitiveArrayMicroMicro $member $key)
#*--*##if($member.typeKind.equals("user"))
        PluginHelper_get_max_size_serialized_array(
        plugin,
        current_alignment, #addDimensionMultiplicationMicroMicro($member),
        ${member.nativeTypeFQName}_get_serialized_${key}_size)#*
----*##elseif($member.strSize)
CDR_get_max_size_serialized_string_array(
        current_alignment, #addDimensionMultiplicationMicroMicro($member), ($member.strSize), ${member.typeEnum})#*
----*##else
CDR_get_max_size_serialized_primitive_array(
        current_alignment, #addDimensionMultiplicationMicroMicro($member), ${member.typeEnum})#*
----*##end
#end


##------------------------------------------------------------------------------
## Macro to getMaxSize of an  Union
##------------------------------------------------------------------------------
#macro(createCurrentAligmentMaxSizeUnionMicroMicro $node)
#CreateCurrentAligmentMaxSizeMemberMicroMicro($node.unionDiscriminatorMap)
#foreach($member in $node.memberFieldMapList)
#*----*##if($member.dimensionList && $member.seqSize)
    {
        RTI_UINT32 i;
        unsigned int maxSize = current_alignment;

        for (i = 0; i < #addDimensionMultiplicationMicroMicro($member); i++)
        {
            maxSize += #getMaxSizeSeqMicroMicro($member "sample" "maxSize");
        }

        temp = maxSize - current_alignment;
    }
#*----*##else
    temp = #aligmentMaxSizeMemberMicroMicro($member);
#*----*##end
    if (union_max_size_serialized < temp) {
        union_max_size_serialized = temp;
    }
#end
#end

#macro(declareFnTypePluginGetMicroMicro $member)
struct ${member.nativeFQNameInModule}TypePlugin;

${envMap.POUND_CHAR}ifndef RTI_CERT
NDDSUSERDllExport extern RTI_BOOL
${member.nativeFQNameInModule}TypePlugin_delete(struct DDS_TypePlugin *self);
${envMap.POUND_CHAR}endif

NDDSUSERDllExport extern struct DDS_TypePlugin*
${member.nativeFQNameInModule}WriterTypePlugin_create(
                                 DDS_DomainParticipant *participant,
                                 struct DDS_DomainParticipantQos *dp_qos,
                                 DDS_DataWriter *writer,
                                 struct DDS_DataWriterQos *qos,
                                 struct DDS_TypePluginProperty *property);

NDDSUSERDllExport extern struct DDS_TypePlugin*
${member.nativeFQNameInModule}ReaderTypePlugin_create(
                                 DDS_DomainParticipant *participant,
                                 struct DDS_DomainParticipantQos *dp_qos,
                                 DDS_DataReader *reader,
                                 struct DDS_DataReaderQos *qos,
                                 struct DDS_TypePluginProperty *property);

NDDSUSERDllExport extern struct DDS_TypePluginI*
${member.nativeFQNameInModule}TypePlugin_get(void);
#end

#macro(declareFnTypePluginGetDefaultTypeNameMicroMicro $member)
NDDSUSERDllExport extern const char*
${member.nativeFQNameInModule}TypePlugin_get_default_type_name(void);
#end

#macro(declareFnSampleMgmtMicroMicro $member)
/* --------------------------------------------------------------------------
    Untyped interfaces to the typed sample management functions
 * -------------------------------------------------------------------------- */
NDDSUSERDllExport extern RTI_BOOL
${member.nativeFQNameInModule}Plugin_create_sample(
    struct DDS_TypePlugin *plugin, void **sample);

${envMap.POUND_CHAR}ifndef RTI_CERT
NDDSUSERDllExport extern RTI_BOOL
${member.nativeFQNameInModule}Plugin_delete_sample(
    struct DDS_TypePlugin *plugin, void *sample);
${envMap.POUND_CHAR}endif

NDDSUSERDllExport extern RTI_BOOL
${member.nativeFQNameInModule}Plugin_copy_sample(
    struct DDS_TypePlugin *plugin, void *dst, const void *src);
#end

#macro(declareFnDeserializeMicroMicro $member)
/* --------------------------------------------------------------------------
    (De)Serialize functions:
 * -------------------------------------------------------------------------- */
#if ($envMap.genWriter)
NDDSUSERDllExport extern RTI_BOOL
${member.nativeFQNameInModule}_cdr_serialize(
    struct DDS_TypePlugin *plugin,
    struct CDR_Stream_t *stream,
    const void *void_sample,
    DDS_InstanceHandle_t *destination);
#end

#if ($envMap.genReader)
NDDSUSERDllExport extern RTI_BOOL
${member.nativeFQNameInModule}_cdr_deserialize(
    struct DDS_TypePlugin *plugin,
    void *void_sample,
    struct CDR_Stream_t *stream,
    DDS_InstanceHandle_t *source);
#end

NDDSUSERDllExport extern RTI_UINT32
${member.nativeFQNameInModule}_get_serialized_sample_size(
                                              struct DDS_TypePlugin *plugin,
                                              RTI_UINT32 current_alignment);
#end

#macro(declareFnTypePluginKeyKindMicroMicro $member)
NDDSUSERDllExport extern NDDS_TypePluginKeyKind
${member.nativeFQNameInModule}I_get_key_kind(void);
#end

#macro(declareFnKeyedMgmtMicroMicro $member)
/* --------------------------------------------------------------------------
    Key Management functions:
 * -------------------------------------------------------------------------- */
#if ($envMap.genWriter)
NDDSUSERDllExport extern RTI_BOOL
${member.nativeFQNameInModule}_cdr_serialize_key(
    struct DDS_TypePlugin *plugin,
    struct CDR_Stream_t *keystream,
    const void *sample,
    DDS_InstanceHandle_t *destination);
#end

#if ($envMap.genReader)
NDDSUSERDllExport extern RTI_BOOL
${member.nativeFQNameInModule}_cdr_deserialize_key(
                                             struct DDS_TypePlugin *plugin,
                                             void *sample,
                                             struct CDR_Stream_t *keystream,
                                             DDS_InstanceHandle_t *source);
#end

NDDSUSERDllExport extern RTI_UINT32
${member.nativeFQNameInModule}_get_serialized_key_size(
                                                struct DDS_TypePlugin *plugin,
                                                RTI_UINT32 current_alignment);

NDDSUSERDllExport extern RTI_BOOL
${member.nativeFQNameInModule}_instance_to_keyhash(
                                                struct DDS_TypePlugin *plugin,
                                                struct CDR_Stream_t *stream,
                                                DDS_KeyHash_t *keyHash,
                                                const void *instance,
                                                DDS_EncapsulationId_t id);
#end

#macro(declareFnUnkeyedMgmtMicroMicro $member)
/* Unkeyed type key serialization equivalent to sample serialization */
#if ($envMap.genWriter)
${envMap.POUND_CHAR}define ${member.nativeFQNameInModule}_cdr_serialize_key ${member.nativeFQNameInModule}_cdr_serialize
#else
${envMap.POUND_CHAR}define ${member.nativeFQNameInModule}_cdr_serialize_key NULL
#end
#if ($envMap.genReader)
${envMap.POUND_CHAR}define ${member.nativeFQNameInModule}_cdr_deserialize_key ${member.nativeFQNameInModule}_cdr_deserialize
#else
${envMap.POUND_CHAR}define ${member.nativeFQNameInModule}_cdr_deserialize_key NULL
#end
${envMap.POUND_CHAR}define ${member.nativeFQNameInModule}_get_serialized_key_size ${member.nativeFQNameInModule}_get_serialized_sample_size
#end

#macro(declareFnEndpointWrappersMicroMicro $member)
/* --------------------------------------------------------------------------
    Typed-endpoint support for C++:
 * -------------------------------------------------------------------------- */

#if ($envMap.genWriter)
NDDSUSERDllExport extern void*
${member.nativeFQNameInModule}Plugin_create_typed_datawriter(void *writer);

${envMap.POUND_CHAR}ifndef RTI_CERT
NDDSUSERDllExport extern void
${member.nativeFQNameInModule}Plugin_delete_typed_datawriter(void *wrapper);
${envMap.POUND_CHAR}endif
#end

#if ($envMap.genReader)
NDDSUSERDllExport extern void*
${member.nativeFQNameInModule}Plugin_create_typed_datareader(void *reader);

${envMap.POUND_CHAR}ifndef RTI_CERT
NDDSUSERDllExport extern void
${member.nativeFQNameInModule}Plugin_delete_typed_datareader(void *wrapper);
${envMap.POUND_CHAR}endif
#end
#end

#macro(defineFnTypePluginCreateSampleMicroMicro $member)
RTI_BOOL
${member.nativeFQNameInModule}Plugin_create_sample(
    struct DDS_TypePlugin *plugin,
    void **sample)
{
    UNUSED_ARG(plugin);

#if($member.languageBinding.equals("FLAT_DATA"))
    *sample = ${member.nativeFQNameInModule}::create_data();
#else
    *sample = (void *) ${member.nativeFQNameInModule}_create();
#end
    return (*sample != NULL);
}
#end

#macro(defineFnTypePluginDeleteSampleMicroMicro $member)
RTI_BOOL
${member.nativeFQNameInModule}Plugin_delete_sample(
    struct DDS_TypePlugin *plugin,
    void *sample)
{
    UNUSED_ARG(plugin);

${envMap.POUND_CHAR}ifndef RTI_CERT
    /* ${member.nativeFQNameInModule}_delete() is a void function
     * which expects (sample != NULL). Since
     * ${member.nativeFQNameInModule}Plugin_delete_sample
     * is an internal function, sample is assumed to be a valid pointer
     */
#if($member.languageBinding.equals("FLAT_DATA"))
      ${member.nativeFQNameInModule}TypeSupport::delete_data((${member.nativeFQNameInModule}*)sample);
#else
    ${member.nativeFQNameInModule}_delete((${member.nativeFQNameInModule} *) sample);
#end
${envMap.POUND_CHAR}endif

    return RTI_TRUE;
}
#end

#macro(defineFnTypePluginCopySampleMicroMicro $member)
RTI_BOOL
${member.nativeFQNameInModule}Plugin_copy_sample(
    struct DDS_TypePlugin *plugin,
    void *dst,
    const void *src)
{
    UNUSED_ARG(plugin);

    return ${member.nativeFQNameInModule}_copy(
                                    (${member.nativeFQNameInModule}*)dst,
                                    (const ${member.nativeFQNameInModule}*)src);
}
#end

#macro(defineFnRegisterTypeExMicroMicro $member)
RTI_PRIVATE DDS_Boolean
${member.nativeFQNameInModule}_on_type_registered(struct DDS_TypeImpl* type_impl)
{
    struct RTIXCdrInterpreterPrograms *programs = NULL;
    struct RTIXCdrInterpreterProgramsGenProperty programProperty =
    RTIXCdrInterpreterProgramsGenProperty_INITIALIZER;

    programProperty.resolveAlias = RTI_XCDR_TRUE;
    programProperty.inlineStruct = RTI_XCDR_TRUE;
    programProperty.optimizeEnum = RTI_XCDR_TRUE;

    programs = RTIXCdrInterpreterPrograms_new(
#*--------*##if($node.languageBinding.equals("FLAT_DATA"))
            (RTIXCdrTypeCode *)${node.nativeFQNameInModule}PlainHelper_get_typecode(),
#*--------*##else
            (RTIXCdrTypeCode *)${node.nativeFQNameInModule}_get_typecode(),
#*--------*##end
	    &programProperty,
        RTI_XCDR_PROGRAM_MASK_TYPEPLUGIN);

    if (programs == NULL)
    {
    	return DDS_BOOLEAN_FALSE;
    }


#*--*##if($node.languageBinding.equals("FLAT_DATA"))
	{
		${member.nativeFQNameInModule}PlainHelper* plain_helper = NULL;
		OSAPI_Heap_allocate_struct(&plain_helper, ${member.nativeFQNameInModule}PlainHelper);
		${member.nativeFQNameInModule}PlainHelper_initialize(plain_helper);
		DDS_TypeImpl_set_sample(type_impl, plain_helper);
	}
#*--*##end

	DDS_TypeImpl_set_programs(type_impl, programs);
	DDS_TypeImpl_set_typecode(type_impl,  ${node.nativeFQNameInModule}_get_typecode());

    return DDS_BOOLEAN_TRUE;
}
#end

#macro(defineFnUnregisterTypeExMicroMicro $member)
RTI_PRIVATE DDS_Boolean
${member.nativeFQNameInModule}_on_type_unregistered(struct DDS_TypeImpl* type_impl)
{
    struct RTIXCdrInterpreterPrograms *programs = NULL;
    programs = DDS_TypeImpl_get_programs(type_impl);

    if (programs != NULL)
    {
        RTIXCdrInterpreterPrograms_delete(programs);
    }
    DDS_TypeImpl_set_programs(type_impl, NULL);

#*--*##if($node.languageBinding.equals("FLAT_DATA"))
    {
    	${member.nativeFQNameInModule}PlainHelper* plain_helper = NULL;
    	plain_helper = (${member.nativeFQNameInModule}PlainHelper*)DDS_TypeImpl_get_sample(type_impl);
    	${member.nativeFQNameInModule}PlainHelper_finalize(plain_helper);
    	OSAPI_Heap_free(plain_helper);
    	DDS_TypeImpl_set_sample(type_impl, NULL);
    }

#*--*##end

    return DDS_BOOLEAN_TRUE;
}
#end

#macro(defineFnXcdrReturnSampleMicroMicro $member)
RTI_PRIVATE void
${member.nativeFQNameInModule}TypePlugin_return_sample(
        struct DDS_TypePlugin *tp,
        struct DDS_TypePluginSampleHolder *sample)
{
    ${member.nativeFQNameInModule}_finalize_optional_members((${member.nativeFQNameInModule}*)sample->sample, RTI_FALSE);
    XCDR_GenericStreamPlugin_return_sample(tp, sample);
}
#end

#macro(defineFnCDRSerializeMicroMicro $member)
RTI_BOOL
${member.nativeFQNameInModule}_cdr_serialize(struct DDS_TypePlugin *plugin,
                                             struct CDR_Stream_t *stream,
                                             const void *void_sample,
                                             DDS_InstanceHandle_t *destination)
{
    ${member.nativeFQNameInModule} *sample = (${member.nativeFQNameInModule} *)void_sample;

#if($member.constructKind.equals("enum"))
    UNUSED_ARG(plugin);
    UNUSED_ARG(destination);
    if (!CDR_Stream_serialize_enum(stream, sample))
    {
       return RTI_FALSE;
    }

#else #* if($node.constructKind.equals("enum") *#
#*--*##if($member.baseTypeFQName)
    if (!${member.baseTypeFQName}_cdr_serialize(plugin,stream,
                        (const ${member.baseTypeFQName}*)sample,destination))
    {
        return RTI_FALSE;
    }
#*--*##else
    UNUSED_ARG(plugin);
    UNUSED_ARG(destination);
#*--*##end

##-------------------------------------
#### Call to a macro here to serialize the elements of the struct
##
##-------------------------------------
#*--*##if($member.constructKind.equals("union"))
    #createTypeFieldMemberMicroMicro($member.unionDiscriminatorMap $member)
    #serializeMemberMicroMicro($member.unionDiscriminatorMap "")
    switch(sample->_d)
    {
#*--*##end
    #serializeMicroMicro($member.memberFieldMapList "")
#end
#if($member.constructKind.equals("union"))
    }
#end

    return RTI_TRUE;
}
#end

#macro(defineFnCDRDeserializeMicroMicro $member)
RTI_BOOL
${member.nativeFQNameInModule}_cdr_deserialize(struct DDS_TypePlugin *plugin,
                                               void *void_sample,
                                               struct CDR_Stream_t *stream,
                                               DDS_InstanceHandle_t *source)
{
    ${member.nativeFQNameInModule} *sample = (${member.nativeFQNameInModule}*)void_sample;

##-------------------------------------
##
## Call to a macro here to deserialize the elements of a struct
##
##-------------------------------------
#if ($member.constructKind.equals("enum"))
    UNUSED_ARG(plugin);
    UNUSED_ARG(source);
    if (!CDR_Stream_deserialize_enum(stream, sample))
    {
        return RTI_FALSE;
    }
#else
#*--*##if($member.baseTypeFQName)
    if (!${member.baseTypeFQName}_cdr_deserialize(plugin,void_sample,stream,source))
    {
        return RTI_FALSE;
    }
#*--*##else
    UNUSED_ARG(plugin);
    UNUSED_ARG(source);
#*--*##end

#*--*##if($member.constructKind.equals("union"))
    #createTypeFieldMemberMicroMicro($member.unionDiscriminatorMap $member)
    #deserializeMemberMicroMicro($member.unionDiscriminatorMap "")
    switch(sample->_d)
    {
#*--*##end
    #deserializeMicroMicro($member.memberFieldMapList "")
#end
#if($member.constructKind.equals("union"))
    }
#end

    return RTI_TRUE;

}
#end

#macro(defineFnGetSerializedSampleMaxSizeMicroMicro $member)
RTI_UINT32
${member.nativeFQNameInModule}_get_serialized_sample_size(
                                        struct DDS_TypePlugin *plugin,
                                        RTI_UINT32 current_alignment)
{
#if($member.constructKind.equals("union"))
    RTI_UINT32 temp, union_max_size_serialized = 0;
#end
    RTI_UINT32 initial_alignment = current_alignment;

#if($member.constructKind.equals("enum"))
    UNUSED_ARG(plugin);

    current_alignment += CDR_get_max_size_serialized_enum(current_alignment);
#else
#*--*##if($member.baseTypeFQName)

    current_alignment += ${member.baseTypeFQName}_get_serialized_sample_size(
                                        plugin, current_alignment);
#*--*##else
    UNUSED_ARG(plugin);
#*--*##end
#*--*##if($member.constructKind.equals("union"))

    #createCurrentAligmentMaxSizeUnionMicroMicro($member)## Call to a macro here !!!
#*--*##else

    #CreateCurrentAligmentMaxSizeMicroMicro($member.memberFieldMapList)## Call to a macro here !!!
#*--*##end
#end

    return #if($member.constructKind.equals("union"))union_max_size_serialized +#end current_alignment - initial_alignment;
}
#end

#macro(defineFnTypePluginGetKeyKindMicroMicro $member)
NDDS_TypePluginKeyKind
${member.nativeFQNameInModule}I_get_key_kind(void)
{
    return ${member.nativeFQNameInModule}_fv_TypePluginI.key_kind;
}
#end

#macro(defineFnCDRSerialize_keyMicroMicro $member)
RTI_BOOL
${member.nativeFQNameInModule}_cdr_serialize_key(struct DDS_TypePlugin *plugin,
                                                 struct CDR_Stream_t *stream,
                                                 const void *void_sample,
                                                 DDS_InstanceHandle_t *destination)
{
#if($member.hasKey)
    const ${member.nativeFQNameInModule} *sample = (${member.nativeFQNameInModule} *)void_sample;
#end

#if($member.constructKind.equals("enum"))
    return ${member.nativeFQName}_cdr_serialize(plugin,stream,void_sample,destination);
#else
#*--*##if($member.hasKeyBaseType)
    if (!${member.baseTypeFQName}_cdr_serialize_key(plugin,stream,void_sample,destination))
    {
        return RTI_FALSE;
    }
#*--*##else
    UNUSED_ARG(plugin);
    UNUSED_ARG(destination);
#*--*##end
    #serialize_keyMicroMicro($node)

    return RTI_TRUE;
#end
}
#end

#macro(defineFnCDRDeserialize_keyMicroMicro $member)
RTI_BOOL
${member.nativeFQNameInModule}_cdr_deserialize_key(struct DDS_TypePlugin *plugin,
                                                   void *void_sample,
                                                   struct CDR_Stream_t *stream,
                                                   DDS_InstanceHandle_t *source)
{
#if($member.hasKey)
    ${member.nativeFQNameInModule} *sample = (${member.nativeFQNameInModule} *)void_sample;
#end

#if($member.constructKind.equals("enum"))
    return  ${member.nativeFQName}_cdr_deserialize(plugin,void_sample,stream,source);
#else
#*--*##if($member.hasKeyBaseType)
    if (!${member.baseTypeFQName}_cdr_deserialize_key(plugin,void_sample,stream,source))
    {
        return RTI_FALSE;
    }
#*--*##else
    UNUSED_ARG(plugin);
    UNUSED_ARG(source);
#*--*##end
    #deserialize_keyMicroMicro($node)

    return RTI_TRUE;
#end
}
#end

#macro(defineFnGetSerializedKeyMaxSizeMicroMicro $member)
RTI_UINT32
${member.nativeFQNameInModule}_get_serialized_key_size(
                                                struct DDS_TypePlugin *plugin,
                                                RTI_UINT32 current_alignment)
{
    RTI_UINT32 initial_alignment = current_alignment;

#if($member.constructKind.equals("enum"))
    current_alignment += ${member.nativeFQName}_get_serialized_sample_size(
                                        plugin, NULL,current_alignment);
#else
#*--*##if($member.hasKeyBaseType)
    current_alignment += ${member.baseTypeFQName}_get_serialized_key_size(
                                        plugin, current_alignment);

#*--*##else
    UNUSED_ARG(plugin);
#*--*##end
    #get_serialized_key_sizeMicroMicro($member)
#end

    return current_alignment - initial_alignment;
}
#end

#macro(defineFnCreateTypedDataWriterMicroMicro $member)
void*
${member.nativeFQNameInModule}Plugin_create_typed_datawriter(void *writer)
{
    /* This function is only called from DDS_Publisher_create_datawriter
     * so writer is guaranteed to have a valid (i.e. non-NULL) value
     */
    DDSDataWriter *cpp_writer =
         new ${member.nativeFQNameInModule}DataWriter((DDS_DataWriter*)writer);

    return cpp_writer;
}
#end

#macro(defineFnDeleteTypedDataWriterMicroMicro $member)
void
${member.nativeFQNameInModule}Plugin_delete_typed_datawriter(void *wrapper)
{
    /* This function is only called from DDS_Publisher_create_datawriter
     * and DDS_Publisher_delete_datawriter so wrapper is guaranteed to have
     * a valid (i.e. non-NULL) value
     */
    DDSDataWriter_impl *cpp_writer = (DDSDataWriter_impl *) wrapper;

    ${member.nativeFQNameInModule}DataWriter *t_writer =
        static_cast<${member.nativeFQNameInModule}DataWriter *>(cpp_writer);

    delete t_writer;
}
#end

#macro(defineFnCreateTypedDataReaderMicroMicro $member)
void*
${member.nativeFQNameInModule}Plugin_create_typed_datareader(void *reader)
{
    /* This function is only called from DDS_Subscriber_create_datareader
     * so reader is guaranteed to have a valid (i.e. non-NULL) value
     */
    DDSDataReader *cpp_reader =
        new ${member.nativeFQNameInModule}DataReader((DDS_DataReader*)reader);

    return cpp_reader;
}
#end

#macro(defineFnDeleteTypedDataReaderMicroMicro $member)
void
${member.nativeFQNameInModule}Plugin_delete_typed_datareader(void *wrapper)
{
    /* This function is only called from DDS_Subscriber_create_datareader
     * and DDS_Subscriber_delete_datareader so wrapper is guaranteed to have
     * a valid (i.e. non-NULL) value
     */
    DDSDataReader_impl *cpp_reader = (DDSDataReader_impl *) wrapper;

    ${member.nativeFQNameInModule}DataReader *t_reader =
        static_cast<${member.nativeFQNameInModule}DataReader *>(cpp_reader);

    delete t_reader;
}
#end

#macro(defineFnTypePluginGetDefaultTypeNameMicroMicro $member)
const char*
${member.nativeFQNameInModule}TypePlugin_get_default_type_name(void)
{
    return ${member.nativeFQNameInModule}TYPENAME;
}
#end


#macro(defineEncapsulationKindMicroMicro $member)
NDDSCDREncapsulation ${member.nativeFQNameInModule}EncapsulationKind[] =
{
    {
#*----*##if($node.extensibility.equals("MUTABLE_EXTENSIBILITY"))
        DDS_ENCAPSULATION_ID_PL_CDR_LE,
        DDS_ENCAPSULATION_ID_PL_CDR_BE,
        0
#*----*##else
        DDS_ENCAPSULATION_ID_CDR_LE,
        DDS_ENCAPSULATION_ID_CDR_BE,
        0
#*----*##end
    }
};

#*----*##if($node.interpreted=="true")
NDDSCDREncapsulation ${member.nativeFQNameInModule}V2EncapsulationKind[] =
{
    {

#*--------*##if($node.extensibility.equals("MUTABLE_EXTENSIBILITY"))
		DDS_ENCAPSULATION_ID_XCDR2_M_LE,
		DDS_ENCAPSULATION_ID_XCDR2_M_BE,
		0
#*--------*##end

#*--------*##if($node.extensibility.equals("EXTENSIBLE_EXTENSIBILITY"))
		DDS_ENCAPSULATION_ID_XCDR2_A_LE,
		DDS_ENCAPSULATION_ID_XCDR2_A_BE,
		0
#*--------*##end

#*--------*##if($node.extensibility.equals("FINAL_EXTENSIBILITY"))
		DDS_ENCAPSULATION_ID_XCDR2_F_LE,
		DDS_ENCAPSULATION_ID_XCDR2_F_BE,
		0
#*--------*##end

    }
};
#*----*##end

#end

#macro(defineTypePluginStructMicroMicro $member)

#end

##------------------------------------------------------------------------------------------------------------------------------
## uninterpreted v1 heap and encapsulation plugin
##------------------------------------------------------------------------------------------------------------------------------

#macro(defineTypePluginFunctionsForNotInterpretedTypesCDRv1MicroMicro $member)

RTI_PRIVATE RTI_UINT32
${member.nativeFQNameInModule}CdrPlugin_get_serialized_sample_size(
                                        struct DDS_TypePlugin *plugin,
                                        struct DDS_TypeEncapsulationPlugin *ep,
                                        RTI_UINT32 current_alignment)
{
    UNUSED_ARG(ep);

    return ${member.nativeFQNameInModule}_get_serialized_sample_size(plugin,
                                            current_alignment);
}

RTI_PRIVATE struct DDS_TypeEncapsulationPlugin*
${member.nativeFQNameInModule}CdrPlugin_create(struct DDS_TypePlugin *tp,
                                       DDS_DomainParticipant *participant,
                                       struct DDS_DomainParticipantQos *dp_qos,
                                       DDS_TypePluginMode_T endpoint_mode,
                                       DDS_TypePluginEndpoint *endpoint,
                                       DDS_TypePluginEndpointQos *qos,
                                       struct DDS_TypeMemoryPlugin *mp)
{
    RTI_UINT32 size =
            ${member.nativeFQName}_get_serialized_sample_size(tp,0);

    return DDS_TypePluginDefaultCdr_create(tp,participant,dp_qos,
                                          endpoint_mode,endpoint,qos,mp,size);
}

RTI_PRIVATE void
${member.nativeFQNameInModule}CdrPlugin_delete(struct DDS_TypePlugin *p,
                                       struct DDS_TypeEncapsulationPlugin *ep)
{
    UNUSED_ARG(p);
    UNUSED_ARG(ep);
}

RTI_PRIVATE struct DDS_TypeMemoryPlugin*
${member.nativeFQNameInModule}HeapPlugin_create(
    struct DDS_TypePlugin *tp,
    DDS_DomainParticipant *participant,
    struct DDS_DomainParticipantQos *dp_qos,
    DDS_TypePluginMode_T endpoint_mode,
    DDS_TypePluginEndpoint *endpoint,
    DDS_TypePluginEndpointQos *qos)
{
    return DDS_TypePluginDefaultHeap_create(tp,participant,dp_qos,
                                           endpoint_mode,endpoint,qos,
                                           ${member.nativeFQName}_cdr_initialize,
${envMap.POUND_CHAR}ifndef RTI_CERT
                                           ${member.nativeFQName}_cdr_finalize);
${envMap.POUND_CHAR}else
                                           NULL);
${envMap.POUND_CHAR}endif

}

RTI_PRIVATE void
${member.nativeFQNameInModule}HeapPlugin_delete(struct DDS_TypePlugin *p,
                                        struct DDS_TypeMemoryPlugin *mp)
{
    UNUSED_ARG(p);
    UNUSED_ARG(mp);
}

RTI_PRIVATE struct DDS_TypeEncapsulationI ${member.nativeFQNameInModule}_fv_CdrPluginI =
{
        DDS_XCDR_DATA_REPRESENTATION,
        NULL,
        ${member.nativeFQNameInModule}EncapsulationKind,
        RTI_MEMORY_TYPE_HEAP,
        RTI_MEMORY_MANAGER_HEAP,
        NULL,
        NULL,
        DDS_TypePluginDefaultCdr_get_buffer,
        DDS_TypePluginDefaultCdr_return_buffer,
        DDS_TypePluginDefaultCdr_get_sample,
        DDS_TypePluginDefaultCdr_return_sample,
#if ($envMap.genWriter)
        ${member.nativeFQName}_cdr_serialize,
#else
        NULL,
#end
#if ($envMap.genReader)
        ${member.nativeFQName}_cdr_deserialize,
#else
        NULL,
#end
        ${member.nativeFQNameInModule}CdrPlugin_get_serialized_sample_size,
        ${member.nativeFQName}CdrPlugin_create,
        ${member.nativeFQName}CdrPlugin_delete
};

RTI_PRIVATE struct DDS_TypeMemoryI ${member.nativeFQNameInModule}_fv_HeapPluginI =
{
        RTI_MEMORY_MANAGER_HEAP,
        RTI_MEMORY_TYPE_HEAP,
        ## Regular default heap plugin does not support get_loan/discard_loan
        ## which call create_sample and delete_sample
        ${member.nativeFQNameInModule}Plugin_create_sample,
${envMap.POUND_CHAR}ifndef RTI_CERT
        ${member.nativeFQNameInModule}Plugin_delete_sample,
${envMap.POUND_CHAR}else
         NULL,
${envMap.POUND_CHAR}endif
        NULL,
        NULL,
        NULL,
        NULL,
        NULL,
        NULL,
        NULL,
        NULL,
        NULL,
        NULL,
        NULL,
        ${member.nativeFQName}HeapPlugin_create,
        ${member.nativeFQName}HeapPlugin_delete
};

#end

##------------------------------------------------------------------------------------------------------------------------------
## interpreted xtypes heap plugin
##------------------------------------------------------------------------------------------------------------------------------

#macro(defineTypePluginFunctionsForInterpretedHeapPluginMicroMicro $member)

RTI_PRIVATE struct DDS_TypeMemoryPlugin*
${member.nativeFQNameInModule}XTypesHeapPlugin_create(
    struct DDS_TypePlugin *tp,
    DDS_DomainParticipant *participant,
    struct DDS_DomainParticipantQos *dp_qos,
    DDS_TypePluginMode_T endpoint_mode,
    DDS_TypePluginEndpoint *endpoint,
    DDS_TypePluginEndpointQos *qos)
{
    return DDS_XTypesHeapPlugin_create(
        tp,
        participant,
        dp_qos,
        endpoint_mode,
        endpoint,
        qos,
        NULL,
        NULL,
        ${member.nativeFQName}_cdr_initialize,
${envMap.POUND_CHAR}ifndef RTI_CERT
        ${member.nativeFQName}_cdr_finalize,
${envMap.POUND_CHAR}else
        NULL,
${envMap.POUND_CHAR}endif
      #if ($member.languageBinding.equals("FLAT_DATA"))
        XCDRv2_StreamPlugin_get_serialized_sample_size(tp, NULL, 0) + RTI_XCDR_ENCAPSULATION_HEADER_SIZE,
        RTI_TRUE
      #else
        sizeof(${member.nativeFQNameInModule}),
        RTI_FALSE
      #end
     );
}

RTI_PRIVATE struct DDS_TypeMemoryI ${member.nativeFQNameInModule}_fv_XTypesHeapPluginI =
{
#*--*##if($member.languageBinding.equals("FLAT_DATA"))
        RTI_MEMORY_MANAGER_HEAP_MANAGED,
        RTI_MEMORY_TYPE_HEAP,
#*--*##else
        RTI_MEMORY_MANAGER_HEAP,
        RTI_MEMORY_TYPE_HEAP,
#*--*##end
#*--*##if($member.languageBinding.equals("FLAT_DATA"))
        DDS_XTypesHeapPlugin_create_sample,
#*--*##else
		## Plugin_create_sample is only called by get_loan. This function
		## is only supported for FLAT_DATA types
		${member.nativeFQNameInModule}Plugin_create_sample,
#*--*##end
${envMap.POUND_CHAR}ifndef RTI_CERT
#*--*##if($member.languageBinding.equals("FLAT_DATA"))
        DDS_XTypesHeapPlugin_delete_sample,
#*--*##else
        ${member.nativeFQNameInModule}Plugin_delete_sample,
#*--*##end
${envMap.POUND_CHAR}else
         NULL,
${envMap.POUND_CHAR}endif
        NULL, /* get_address */
        NULL, /* return_address */
        NULL,
        DDS_XTypesHeapPlugin_get_sample_state,
        DDS_XTypesHeapPlugin_set_sample_state,
        DDS_XTypesHeapPlugin_is_owner,
        NULL,
        NULL,
        NULL,
        NULL,
        NULL,
        ${member.nativeFQNameInModule}XTypesHeapPlugin_create,
        DDS_XTypesHeapPlugin_delete
};

#end

##------------------------------------------------------------------------------------------------------------------------------
## interpreted v1 encapsulaion plugin
##------------------------------------------------------------------------------------------------------------------------------

#macro(defineTypePluginFunctionsForInterpretedEncapsulationCDRv1MicroMicro $member)

RTI_PRIVATE
struct DDS_TypeEncapsulationI ${member.nativeFQNameInModule}_fv_XCDRv1PluginI =
{
        DDS_XCDR_DATA_REPRESENTATION,
        NULL,
        ${member.nativeFQNameInModule}EncapsulationKind,
        RTI_MEMORY_TYPE_HEAP,
        RTI_MEMORY_MANAGER_HEAP,
        NULL,
        NULL,
        XCDR_GenericStreamPlugin_get_buffer,
        XCDR_GenericStreamPlugin_return_buffer,
        XCDR_GenericStreamPlugin_get_sample,
        ## Even for V1 encapsulation, we still need to call a typed function
        ## that finalizes optional_members
        ${member.nativeFQNameInModule}TypePlugin_return_sample,
        XCDR_GenericStreamPlugin_serialize,
        XCDR_GenericStreamPlugin_deserialize,
        XCDRv1_StreamPlugin_get_serialized_sample_size,
        XCDRv1_StreamPlugin_create,
        XCDRv1_StreamPlugin_delete
};


#end

##------------------------------------------------------------------------------------------------------------------------------
## interpreted v1 encapsulaion plugin (for flat and non-flat)
##------------------------------------------------------------------------------------------------------------------------------

#macro(defineTypePluginFunctionsForInterpretedEncapsulationCDRv2MicroMicro $member)

#if($member.languageBinding.equals("FLAT_DATA") && $member.hasKey)

MUST_CHECK_RETURN DDSCDllExport RTI_PRIVATE RTI_BOOL
${member.nativeFQNameInModule}_instance_to_keyhash_flat_data(
        struct NDDS_Type_Plugin *plugin,
        struct CDR_Stream_t *md5stream,
        DDS_KeyHash_t *key_hash,
        const void *instance,
        DDS_EncapsulationId_t id)
{
        struct CDR_Stream_t temporary_stream_used_for_deserialization;

        CDR_Stream_initialize(&temporary_stream_used_for_deserialization);

${envMap.POUND_CHAR}ifdef RTI_ENDIAN_LITTLE
        temporary_stream_used_for_deserialization.endian = RTI_CDR_ENDIAN_LITTLE;
${envMap.POUND_CHAR}else
        temporary_stream_used_for_deserialization.endian = RTI_CDR_ENDIAN_BIG;
${envMap.POUND_CHAR}endif

        temporary_stream_used_for_deserialization.need_byte_swap = RTI_FALSE;

        if (plugin->big_endian)
        {
            CDR_Stream_set_endianess(&temporary_stream_used_for_deserialization,RTI_TRUE);
        }
        else
        {
            CDR_Stream_set_endianess(&temporary_stream_used_for_deserialization,RTI_FALSE);
        }

#*----*##if($node.extensibility.equals("FINAL_EXTENSIBILITY"))

        /* The first 4 bytes flat data samples is the encapsulation header
         * Note. the serialized_size does not include the encapsulation header
         */
        unsigned int size = ${node.nativeFQNameInModule}::Offset::serialized_size(0);

#*----*##else

		/* The instance points the beginning of the serialized sample
		 * so we need to pass in the offset RTI_XCDR_ENCAPSULATION_HEADER_SIZE
		 * so that this function correctly points to the beginning of the D Header
		 */
        unsigned int size = static_cast<unsigned int>(
            RTIXCdrFlatSample_getMutableSampleSize(
                reinterpret_cast<const unsigned char *>(instance),
                RTI_XCDR_ENCAPSULATION_HEADER_SIZE));

#*----*##end

        if (!CDR_Stream_set_buffer(
                &temporary_stream_used_for_deserialization,
                ((char*)instance) + RTI_XCDR_ENCAPSULATION_HEADER_SIZE,
                size))
        {
        	return RTI_FALSE;
        }

        ${member.nativeFQNameInModule}PlainHelper *plain_helper = NULL;
    	plain_helper = (${member.nativeFQNameInModule}PlainHelper*)plugin->property.flat_data_plain_helper;

        if (!XCDR_Interpreter_serialized_sample_to_key(plugin,
                plain_helper,
                &temporary_stream_used_for_deserialization,
                RTI_FALSE,
                RTI_TRUE,
                plugin->current_encapsulation))
        {
    		return RTI_FALSE;
        }
        return XCDR_GenericTypePlugin_instance_to_keyhash(plugin,
                                        md5stream, key_hash, plain_helper,id);
}

#end

#*--*##if(!$member.languageBinding.equals("FLAT_DATA"))
RTI_PRIVATE struct DDS_TypeEncapsulationI ${member.nativeFQNameInModule}_fv_XCDRv2PluginI =
#*--*##else

			#defineFnFlatDataSerializeMicroMicro($member)
			#defineFnFlatDataDeserializeMicroMicro($member)

			#if ($member.hasKey)
				#defineFnFlatDataDeserializeKeyMicroMicro($member)
			#end

RTI_PRIVATE struct DDS_TypeEncapsulationI ${member.nativeFQNameInModule}_fv_XCDRv2FlatDataPluginI =
#*--*##end
{
        DDS_XCDR2_DATA_REPRESENTATION,
        NULL,
        ${member.nativeFQNameInModule}V2EncapsulationKind,
#*--*##if($member.languageBinding.equals("FLAT_DATA"))
        RTI_MEMORY_TYPE_HEAP,
        RTI_MEMORY_MANAGER_HEAP_MANAGED,
#*--*##else
        RTI_MEMORY_TYPE_HEAP,
        RTI_MEMORY_MANAGER_HEAP,
#*--*##end
        NULL,
        NULL,
		XCDR_GenericStreamPlugin_get_buffer,
		XCDR_GenericStreamPlugin_return_buffer,
		XCDR_GenericStreamPlugin_get_sample,

#*--*##if(!$member.languageBinding.equals("FLAT_DATA"))
		${member.nativeFQNameInModule}TypePlugin_return_sample,
		XCDR_GenericStreamPlugin_serialize,
		XCDR_GenericStreamPlugin_deserialize,
#*--*##else
        XCDR_GenericStreamPlugin_return_sample,
        ${member.nativeFQNameInModule}_flatdata_serialize,
        ${member.nativeFQNameInModule}_flatdata_deserialize,
#*--*##end
		XCDRv2_StreamPlugin_get_serialized_sample_size,
		XCDRv2_StreamPlugin_create,
		XCDRv2_StreamPlugin_delete
};

#end

##------------------------------------------------------------------------------------------------------------------------------
## zero copy encapsulation and heap plugin
##------------------------------------------------------------------------------------------------------------------------------

#macro(defineTypePluginFunctionsZeroCopyMicroMicro $member)

RTI_PRIVATE
struct DDS_TypeMemoryI ${member.nativeFQNameInModule}NETIO_gv_TypeShmPluginI =
{
    RTI_MEMORY_MANAGER_SHMEM,
    RTI_MEMORY_TYPE_SHMEM,
    NETIO_TypeShmPlugin_create_sample,
    NETIO_TypeShmPlugin_delete_sample,
    NETIO_TypeShmPlugin_get_address,
    NETIO_TypeShmPlugin_return_address,
    NETIO_TypeShmPlugin_get_reference,
    NETIO_TypeShmPlugin_get_sample_state,
    NETIO_TypeShmPlugin_set_sample_state,
    NETIO_TypeShmPlugin_is_owner,
    NETIO_TypeShmPlugin_add_peer,
    NETIO_TypeShmPlugin_remove_peer,
    NETIO_TypeShmPlugin_serialize_inline_qos,
    NULL,
    NETIO_TypeShmPlugin_is_sample_consistent,
    NETIO_TypeShmPlugin_create, /* create_plugin */
    NETIO_TypeShmPlugin_delete /* delete_plugin */
};

NDDSCDREncapsulation ${member.nativeFQNameInModule}NETIO_gv_TypeShmEncapsulationKind[] =
{
    {
        #if($member.languageBinding.equals("FLAT_DATA"))
        DDS_ENCAPSULATION_ID_SHMEM_REF_FLAT_DATA_LE,
        DDS_ENCAPSULATION_ID_SHMEM_REF_FLAT_DATA_BE,
        0
        #else
        DDS_ENCAPSULATION_ID_SHMEM_REF_PLAIN_LE,
        DDS_ENCAPSULATION_ID_SHMEM_REF_PLAIN_BE,
        0
        #end
    }
};

#if($member.interpreted=="true")
#*--*##if($member.dataRepresentationMask == 5)                 ## XCDRv2 && XCDRv1 ( (4) | (1) )
DDS_DataRepresentationId_t ${member.nativeFQNameInModule}NETIO_TypeShmStreamPlugin_gv_DataRepresentationV1Alias[]=
{
    DDS_XCDR_DATA_REPRESENTATION,
    DDS_INVALID_DATA_REPRESENTATION
};
#*--*##end
#end

RTI_PRIVATE
struct DDS_TypeEncapsulationI ${member.nativeFQNameInModule}NETIO_gv_TypeShmStreamPluginI =
{
######################## DATA REPRESENTATION ##################################
#*--*##if($member.interpreted=="true")
#*----*##if ($member.dataRepresentationMask == 5 || $member.dataRepresentationMask == 4) ## (XCDRv2 && XCDRv1) __OR__ (XCDRv2) )
			DDS_XCDR2_DATA_REPRESENTATION,
#*----*##elseif ($member.dataRepresentationMask == 1)             ## XCDRv1
			DDS_XCDR_DATA_REPRESENTATION,
#*----*##end
#*--*##else
			DDS_XCDR_DATA_REPRESENTATION,                         ## No XTypes so original version
#*--*##end
######################## DATA REPRESENTATION ALIAS ##################################
#*--*##if($member.languageBinding.equals("FLAT_DATA"))
    NULL,
#*--*##else
#*----*##if($member.interpreted=="true")
#*------*##if($member.dataRepresentationMask == 5)                 ## XCDRv2 && XCDRv1 ( (4) | (1) )
				${member.nativeFQNameInModule}NETIO_TypeShmStreamPlugin_gv_DataRepresentationV1Alias,
#*------*##elseif ($member.dataRepresentationMask == 4)            ## XCDRv2
				NULL,
#*------*##elseif ($member.dataRepresentationMask == 1)            ## XCDRv1
				NULL,
#*------*##end
#*----*##else
				NULL,                                              ## No XTypes so original version
#*----*##end
#*--*##end
    ${member.nativeFQNameInModule}NETIO_gv_TypeShmEncapsulationKind,
    RTI_MEMORY_TYPE_SHMEM,
    RTI_MEMORY_MANAGER_SHMEM,
    NULL,
    NULL,
    NETIO_TypeShmStreamPlugin_get_buffer,
    NETIO_TypeShmStreamPlugin_return_buffer,
    NETIO_TypeShmStreamPlugin_get_sample,
    NETIO_TypeShmStreamPlugin_return_sample,
#*--*##if($member.languageBinding.equals("FLAT_DATA"))
    NETIO_TypeShmStreamPlugin_serialize_flat_data,
#*--*##else
    NETIO_TypeShmStreamPlugin_serialize,
#*--*##end
    NETIO_TypeShmStreamPlugin_deserialize,
    NETIO_TypeShmStreamPlugin_get_serialized_sample_size,
    NETIO_TypeShmStreamPlugin_create, /* create_plugin */
    NETIO_TypeShmStreamPlugin_delete /* delete_plugin */
};

#end

#macro(defineTypePluginFunctionsZeroCopyMicroV2 $member)

RTI_PRIVATE
struct DDS_TypeMemoryI ${member.nativeFQNameInModule}NETIO_gv_TypeShmV2PluginI =
{
    RTI_MEMORY_MANAGER_SHMEMV2,
    RTI_MEMORY_TYPE_SHMEM,
    ZCOPY_ShmV2_memory_plugin_get_loan,
    ZCOPY_ShmV2_memory_plugin_discard_loan,
    NULL,
    NULL,
    ZCOPY_ShmV2_memory_plugin_get_sample_handle,
    ZCOPY_ShmV2_memory_plugin_get_sample_state,
    ZCOPY_ShmV2_memory_plugin_set_sample_state,
    ZCOPY_ShmV2_memory_plugin_is_owner,
    NULL,
    NULL,
    NULL,
    NULL,
    NULL,
    ZCOPY_ShmV2_memory_plugin_create, /* create_plugin */
    ZCOPY_ShmV2_memory_plugin_delete /* delete_plugin */
};

NDDSCDREncapsulation ${member.nativeFQNameInModule}NETIO_gv_TypeShmV2EncapsulationKind[] =
{
    {
        DDS_ENCAPSULATION_ID_SHMEM_V2,
        DDS_ENCAPSULATION_ID_SHMEM_V2,
        0
    }
};

#if($member.interpreted=="true")
#*--*##if($member.dataRepresentationMask == 5)                 ## XCDRv2 && XCDRv1 ( (4) | (1) )
DDS_DataRepresentationId_t ${member.nativeFQNameInModule}NETIO_TypeShmV2StreamPlugin_gv_DataRepresentationAlias[]=
{
    DDS_XCDR_DATA_REPRESENTATION,
    DDS_XCDR2_DATA_REPRESENTATION,
    DDS_INVALID_DATA_REPRESENTATION
};
#*--*##end
#end

RTI_PRIVATE
struct DDS_TypeEncapsulationI ${member.nativeFQNameInModule}NETIO_gv_TypeShmV2WirePluginI =
{
######################## DATA REPRESENTATION ##################################
#*--*##if($member.interpreted=="true")
#*----*##if ($member.dataRepresentationMask == 5 || $member.dataRepresentationMask == 4) ## (XCDRv2 && XCDRv1) __OR__ (XCDRv2) )
			DDS_XCDR2_DATA_REPRESENTATION,
#*----*##elseif ($member.dataRepresentationMask == 1)             ## XCDRv1
			DDS_XCDR_DATA_REPRESENTATION,
#*----*##end
#*--*##else
			DDS_XCDR_DATA_REPRESENTATION,                         ## No XTypes so original version
#*--*##end
######################## DATA REPRESENTATION ALIAS ##################################
#*--*##if($member.languageBinding.equals("FLAT_DATA"))
    NULL,
#*--*##else
#*----*##if($member.interpreted=="true")
#*------*##if($member.dataRepresentationMask == 5)                 ## XCDRv2 && XCDRv1 ( (4) | (1) )
				${member.nativeFQNameInModule}NETIO_TypeShmV2StreamPlugin_gv_DataRepresentationAlias,
#*------*##elseif ($member.dataRepresentationMask == 4)            ## XCDRv2
				NULL,
#*------*##elseif ($member.dataRepresentationMask == 1)            ## XCDRv1
				NULL,
#*------*##end
#*----*##else
				NULL,                                              ## No XTypes so original version
#*----*##end
#*--*##end
    ${member.nativeFQNameInModule}NETIO_gv_TypeShmV2EncapsulationKind,
    RTI_MEMORY_TYPE_SHMEM,
    RTI_MEMORY_MANAGER_SHMEMV2,
    NULL,
    NULL,
    NULL,
    NULL,
    ZCOPY_ShmV2_WirePlugin_get_sample,
    ZCOPY_ShmV2_WirePlugin_return_sample,
#*--*##if($member.languageBinding.equals("FLAT_DATA"))
    NULL,
#*--*##else
    NULL,
#*--*##end
    NULL,
    ZCOPY_ShmV2_get_serialized_sample_size,
    ZCOPY_ShmV2_WirePlugin_create, /* create_plugin */
    ZCOPY_ShmV2_WirePlugin_delete /* delete_plugin */
};

#end




##------------------------------------------------------------------------------------------------------------------------------
##  generating the whole type plugin
##------------------------------------------------------------------------------------------------------------------------------

#macro(defineTypePluginMicroMicro $member)

## This function is used by the TypePlugin interface to initialize samples
## from a memory manager's create_sample function

MUST_CHECK_RETURN RTI_PRIVATE RTI_BOOL
${member.nativeFQNameInModule}TypePlugin_initialize_sample(struct DDS_TypePlugin *plugin, void *buffer)
{
    #if(!$member.languageBinding.equals("FLAT_DATA"))
        UNUSED_ARG(plugin);
        return ${node.nativeFQNameInModule}_initialize((${node.nativeFQNameInModule}*)buffer);
    #else

        UNUSED_ARG(plugin);
        #if($node.extensibility.equals("MUTABLE_EXTENSIBILITY"))

        if (!RTIXCdrFlatData_initializeMutableSample((unsigned char*) buffer))
        {
        	return RTI_FALSE;
        }

        return RTI_TRUE;

        #else
        ${node.nativeFQNameInModule}* tdata = (${node.nativeFQNameInModule}*) buffer;
        struct RTIXCdrInterpreterPrograms *programs =
            rti::xcdr::type_programs<${node.nativeFQNameInModule}::Base>::get();
        UNUSED_ARG(plugin);
        if (!RTIXCdrFlatData_initializeSample(
                    (char *)tdata->get_root_buffer(),
                    ${node.nativeFQNameInModule}::Offset::serialized_size(0),
                    programs))
        {
            return RTI_FALSE;
        }
        return RTI_TRUE;

        #end

    #end
}

RTI_PRIVATE RTI_UINT32
${member.nativeFQNameInModule}_get_user_sample_size(
    struct DDS_TypePlugin *tp)
{
    #if($member.languageBinding.equals("FLAT_DATA"))

        if (!tp->is_max_serialized_size_set)
        {
        	RTI_UINT32 serialized_size = XCDRv2_StreamPlugin_get_serialized_sample_size(tp, NULL, 0) + RTI_XCDR_ENCAPSULATION_HEADER_SIZE;
        	tp->is_max_serialized_size_set = RTI_TRUE;
        	tp->max_serialized_size = serialized_size;
        	return serialized_size;
        }
        else
        {
        	return tp->max_serialized_size;
        }

    #else
        UNUSED_ARG(tp);
        #if($envMap.language.equals("Cpp"))
            return sizeof(${member.nativeFQNameInModule});
        #else
            return sizeof(struct ${member.nativeFQNameInModule});
        #end
    #end
}

MUST_CHECK_RETURN RTI_PRIVATE RTI_BOOL
${member.nativeFQNameInModule}_cdr_initialize(void *init_config, void *buffer)
{
    struct DDS_TypePluginDefault *plugin = (struct DDS_TypePluginDefault*)init_config;
    void *sample;
    struct DDS_TypePluginSampleHolder *sh = (struct DDS_TypePluginSampleHolder*)buffer;

    if (!${member.nativeFQNameInModule}Plugin_create_sample(&plugin->_parent,&sample))
    {
        return RTI_FALSE;
    }

    sh->sample = sample;

    return RTI_TRUE;
}

${envMap.POUND_CHAR}ifndef RTI_CERT
MUST_CHECK_RETURN RTI_PRIVATE RTI_BOOL
${member.nativeFQNameInModule}_cdr_finalize(void *finalize_config, void *buffer)
{
    struct DDS_TypePluginDefault *plugin = (struct DDS_TypePluginDefault*)finalize_config;
    struct DDS_TypePluginSampleHolder *sh = (struct DDS_TypePluginSampleHolder*)buffer;

    if (!${member.nativeFQNameInModule}Plugin_delete_sample(&plugin->_parent,sh->sample))
    {
        return RTI_FALSE;
    }

    return RTI_TRUE;
}
${envMap.POUND_CHAR}endif

		#if($member.interpreted!="true" && !$member.languageBinding.equals("FLAT_DATA"))

			#defineTypePluginFunctionsForNotInterpretedTypesCDRv1MicroMicro($member)

		#elseif($member.languageBinding.equals("FLAT_DATA") || ($member.interpreted=="true"))

			#if (!$member.languageBinding.equals("FLAT_DATA"))
				#defineFnXcdrReturnSampleMicroMicro($member)
			#end

			#defineTypePluginFunctionsForInterpretedHeapPluginMicroMicro($member)
			#defineFnRegisterTypeExMicroMicro($member)
			#defineFnUnregisterTypeExMicroMicro($member)

			#if ($member.dataRepresentationMask == 5) ## XCDRv2 && XCDRv1 ( (4) | (1) )
				#defineTypePluginFunctionsForInterpretedEncapsulationCDRv1MicroMicro($member)
				#defineTypePluginFunctionsForInterpretedEncapsulationCDRv2MicroMicro($member)
			#elseif ($member.dataRepresentationMask == 4) ## XCDRv2
				#defineTypePluginFunctionsForInterpretedEncapsulationCDRv2MicroMicro($member)
			#elseif ($member.dataRepresentationMask == 1) ## XCDRv1
				#defineTypePluginFunctionsForInterpretedEncapsulationCDRv1MicroMicro($member)
			#end
		#end

		#if($member.isMetpType)

			#defineTypePluginFunctionsZeroCopyMicroMicro($member)
${envMap.POUND_CHAR}if RTIME_HAVE_ZCOPYV2
            #defineTypePluginFunctionsZeroCopyMicroV2($member)
${envMap.POUND_CHAR}endif
		#end

##------------------------------------------------------------------------------
## Now for the actual type plugins Wire Plugins
##------------------------------------------------------------------------------

RTI_PRIVATE struct DDS_TypeEncapsulationI *${member.nativeFQNameInModule}_fv_WirePlugins[] =
{
#*--*##if($member.languageBinding.equals("FLAT_DATA"))
        &${member.nativeFQNameInModule}_fv_XCDRv2FlatDataPluginI,
#*--*##else
#*----*##if($member.interpreted=="true")
			#if ($member.dataRepresentationMask == 5) ## XCDRv2 && XCDRv1 ( (4) | (1) )
				&${member.nativeFQNameInModule}_fv_XCDRv2PluginI,
        		&${member.nativeFQNameInModule}_fv_XCDRv1PluginI,
			#elseif ($member.dataRepresentationMask == 4) ## XCDRv2
				&${member.nativeFQNameInModule}_fv_XCDRv2PluginI,
			#elseif ($member.dataRepresentationMask == 1) ## XCDRv1
				&${member.nativeFQNameInModule}_fv_XCDRv1PluginI,
			#end
#*----*##else
        &${member.nativeFQNameInModule}_fv_CdrPluginI,
#*----*##end
#*--*##end
#*--*##if($member.isMetpType)
        &${member.nativeFQNameInModule}NETIO_gv_TypeShmStreamPluginI,
${envMap.POUND_CHAR}if RTIME_HAVE_ZCOPYV2
        &${member.nativeFQNameInModule}NETIO_gv_TypeShmV2WirePluginI,
${envMap.POUND_CHAR}endif
#*--*##end
    NULL
};

RTI_PRIVATE struct DDS_TypeMemoryI *${member.nativeFQNameInModule}_fv_MemoryPlugins[] =
{
#if($member.languageBinding.equals("FLAT_DATA") || ($member.interpreted=="true"))
    &${member.nativeFQNameInModule}_fv_XTypesHeapPluginI,
#else
    &${member.nativeFQNameInModule}_fv_HeapPluginI,
#end
#if($member.isMetpType)
    &${member.nativeFQNameInModule}NETIO_gv_TypeShmPluginI,
${envMap.POUND_CHAR}if RTIME_HAVE_ZCOPYV2
    &${member.nativeFQNameInModule}NETIO_gv_TypeShmV2PluginI,
${envMap.POUND_CHAR}endif
#end
    NULL
};

#if($member.interpreted=="true" || $member.languageBinding.equals("FLAT_DATA"))
RTI_PRIVATE const struct DDS_TypeInterfaceI ${member.nativeFQNameInModule}_fv_XCdrIntf =
{
    XCdrTypeInterfaceI_create_program,
    XCdrTypeInterfaceI_delete_program,
    XCdrTypeInterfaceI_create_execution_context,
    XCdrTypeInterfaceI_delete_execution_context,
    XCdrTypeInterfaceI_set_padding_options
};
#end

RTI_PRIVATE struct DDS_TypePlugin*
${member.nativeFQNameInModule}TypePlugin_create_plugin(
                                DDS_DomainParticipant *participant,
                                struct DDS_DomainParticipantQos *dp_qos,
                                DDS_TypePluginMode_T endpoint_mode,
                                DDS_TypePluginEndpoint *endpoint,
                                DDS_TypePluginEndpointQos *qos,
                                struct DDS_TypePluginProperty *const property);

RTI_PRIVATE RTI_BOOL
${member.nativeFQNameInModule}TypePlugin_delete_plugin(struct DDS_TypePlugin *plugin);

RTI_PRIVATE struct DDS_TypePluginI ${member.nativeFQNameInModule}_fv_TypePluginI =
{
    /**************************************************************************
     *                   Type information functions
     **************************************************************************/

    NULL,                       /* DDS_TypeCode_t* */
#if($member.hasKey || $member.hasKeyBaseType)
    NDDS_TYPEPLUGIN_USER_KEY,   /* NDDS_TypePluginKeyKind */
#else
    NDDS_TYPEPLUGIN_NO_KEY,     /* NDDS_TypePluginKeyKind */
#end

#if($member.languageBinding.equals("FLAT_DATA"))
    NDDS_TYPEPLUGIN_EH_LOCATION_SAMPLE,
#else
    NDDS_TYPEPLUGIN_EH_LOCATION_PAYLOAD,
#end
    ${member.nativeFQNameInModule}_get_user_sample_size,
    RTI_MEMORY_TYPE_HEAP,
#if($member.hasKey || $member.hasKeyBaseType)
        #if($member.interpreted!="true" && !$member.languageBinding.equals("FLAT_DATA"))
            PluginHelper_instance_to_keyhash,
        #else
        	#if($member.languageBinding.equals("FLAT_DATA"))
        		${member.nativeFQNameInModule}_instance_to_keyhash_flat_data,
        	#else
        		XCDR_GenericTypePlugin_instance_to_keyhash,
        	#end
        #end
#else
        NULL,
#end
        ${member.nativeFQName}Plugin_copy_sample,

    ${member.nativeFQNameInModule}TypePlugin_initialize_sample,

#if($member.hasKey || $member.hasKeyBaseType)
#if ($envMap.genWriter)
	#if($member.interpreted=="true")
        XCDR_GenericTypePlugin_serialize_key,
    #else
    	${member.nativeFQName}_cdr_serialize_key,
    #end
#else
        NULL,
#end
#if ($envMap.genReader)
    #if($member.interpreted=="true")
    	#if($member.languageBinding.equals("FLAT_DATA"))
        	${member.nativeFQNameInModule}_flatdata_deserialize_key,
        #else
    		XCDR_GenericTypePlugin_deserialize_key,
    	#end
    #else
    	${member.nativeFQName}_cdr_deserialize_key,
	#end
#else
        NULL,
#end
    #if($member.interpreted=="true")
    	XCDR_GenericTypelugin_get_serialized_key_size,
    #else
    	${member.nativeFQName}_get_serialized_key_size,
	#end
#else
        NULL,
        NULL,
        NULL,
#end
    NULL,
    NULL,
    NULL,
    NULL,
    NULL,
    ${member.nativeFQNameInModule}_fv_MemoryPlugins,
    ${member.nativeFQNameInModule}_fv_WirePlugins,

    /**************************************************************************
     *       Helper APIs to create language binding wrapper Functions
     **************************************************************************/

#if($envMap.language.equals("Cpp"))
#if ($envMap.genWriter)
    ${member.nativeFQName}Plugin_create_typed_datawriter,
${envMap.POUND_CHAR}ifndef RTI_CERT
    ${member.nativeFQName}Plugin_delete_typed_datawriter,
${envMap.POUND_CHAR}else
    NULL,
${envMap.POUND_CHAR}endif
#else
    NULL, NULL,
#end
#if ($envMap.genReader)
    ${member.nativeFQName}Plugin_create_typed_datareader,
${envMap.POUND_CHAR}ifndef RTI_CERT
    ${member.nativeFQName}Plugin_delete_typed_datareader,
${envMap.POUND_CHAR}else
    NULL,
${envMap.POUND_CHAR}endif
#else
    NULL, NULL,
#end
#else
    NULL, NULL, NULL, NULL,  /* endpoint wrappers not used in C */
#end
    ${member.nativeFQName}TypePlugin_create_plugin,
    ${member.nativeFQName}TypePlugin_delete_plugin,
#if($member.interpreted=="true" || $member.languageBinding.equals("FLAT_DATA"))
	${member.nativeFQNameInModule}_on_type_registered,
	${member.nativeFQNameInModule}_on_type_unregistered,
    &${member.nativeFQNameInModule}_fv_XCdrIntf
#else
	NULL,
	NULL
    DDS_TypePluginI_XTYPES_INITIALIZER
#end
};

#end

#macro(defineFnTypePluginGetMicroMicro $member)

struct DDS_TypePluginI*
${member.nativeFQNameInModule}TypePlugin_get(void)
{
    return &${member.nativeFQNameInModule}_fv_TypePluginI;
}

RTI_PRIVATE struct DDS_TypePlugin*
${member.nativeFQNameInModule}TypePlugin_create_plugin(
                                DDS_DomainParticipant *participant,
                                struct DDS_DomainParticipantQos *dp_qos,
                                DDS_TypePluginMode_T endpoint_mode,
                                DDS_TypePluginEndpoint *endpoint,
                                DDS_TypePluginEndpointQos *qos,
                                struct DDS_TypePluginProperty *const property)
{
    return DDS_TypePluginDefault_create(&${member.nativeFQNameInModule}_fv_TypePluginI,
                                       participant,dp_qos,
                                       endpoint_mode,endpoint,qos,
                                       property);
}

RTI_PRIVATE RTI_BOOL
${member.nativeFQNameInModule}TypePlugin_delete_plugin(struct DDS_TypePlugin *plugin)
{
    return DDS_TypePluginDefault_delete(plugin);
}

struct DDS_TypePlugin*
${member.nativeFQNameInModule}WriterTypePlugin_create(
                                 DDS_DomainParticipant *participant,
                                 struct DDS_DomainParticipantQos *dp_qos,
                                 DDS_DataWriter *writer,
                                 struct DDS_DataWriterQos *qos,
                                 struct DDS_TypePluginProperty *property)
{
    return DDS_TypePlugin_create_w_intf(
                        &${member.nativeFQNameInModule}_fv_TypePluginI,
                        participant,dp_qos,
                        DDS_TYPEPLUGIN_MODE_WRITER,
                        (DDS_TypePluginEndpoint*)writer,
                        (DDS_TypePluginEndpointQos*)qos,
                        property);
}

struct DDS_TypePlugin*
${member.nativeFQNameInModule}ReaderTypePlugin_create(
                                 DDS_DomainParticipant *participant,
                                 struct DDS_DomainParticipantQos *dp_qos,
                                 DDS_DataReader *reader,
                                 struct DDS_DataReaderQos *qos,
                                 struct DDS_TypePluginProperty *property)
{
    return DDS_TypePlugin_create_w_intf(
                        &${member.nativeFQNameInModule}_fv_TypePluginI,
                        participant,dp_qos,
                        DDS_TYPEPLUGIN_MODE_READER,
                        (DDS_TypePluginEndpoint*)reader,
                        (DDS_TypePluginEndpointQos*)qos,
                        property);
}

#end


#macro(defineFnFlatDataSerializeMicroMicro $member)
RTI_PRIVATE RTI_BOOL
${member.nativeFQNameInModule}_flatdata_serialize(struct DDS_TypePlugin *plugin,
                                             struct CDR_Stream_t *stream,
                                             const void *void_sample,
                                             DDS_InstanceHandle_t *destination)
{
    RTIXCdrStream xcdrStream;
    ${member.nativeFQNameInModule}* sample = (${member.nativeFQNameInModule}*)void_sample;
    struct DDS_TypePluginBuffer *tp_buffer = OSAPI_Compiler_reinterpret_cast(
                                                struct DDS_TypePluginBuffer*,
                                                stream->start_ptr);
    ${member.nativeFQNameInModule} *flat_data_ptr =
                        const_cast<${member.nativeFQNameInModule} *>(sample);
    UNUSED_ARG(plugin);
    UNUSED_ARG(destination);

    flat_data_ptr->initialize_stream(xcdrStream, 0, flat_data_ptr->buffer_size());

	/* At this point, the expection is that the encapsulation is already set. It can only
	 * by either FINAL or MUTABLE. By default it is FINAL and during the creation of a mutable type
	 * sets the encapsulation to MUTABLE. Appendable is not currently supported.
     */
    /* Set the data_pbuffer to be the actual flat data sample (since it is in serialized format)
     */
    tp_buffer->data_pbuf.buffer = (char*)void_sample;
    tp_buffer->data_pbuf.max_length = xcdrStream._bufferLength;

    /* Increment the stream pointer to make it seem as if it was "serialized" */
    stream->buff_ptr += xcdrStream._bufferLength;

    return RTI_TRUE;
}
#end

#macro(defineFnFlatDataDeserializeMicroMicro $member)
RTI_PRIVATE RTI_BOOL
${member.nativeFQNameInModule}_flatdata_deserialize(struct DDS_TypePlugin *plugin,
                                               void *void_sample,
                                               struct CDR_Stream_t *stream,
                                               DDS_InstanceHandle_t *source)
{
    RTI_UINT32 length_of_serialized_payload = 0;

    UNUSED_ARG(plugin);
    UNUSED_ARG(source);

    length_of_serialized_payload = stream->length - (RTI_UINT32)(stream->buff_ptr - stream->real_buff);

    /* Because we deserialize the encapsulation (and thus advancing the stream)
     * we need to subtract 4 bytes (encapsulation + encapsulation options)
     * from the current position.
     */

    OSAPI_Memory_copy(void_sample, stream->buff_ptr - 4, length_of_serialized_payload + 4);

    stream->buff_ptr += length_of_serialized_payload;

    return RTI_TRUE;
}
#end

#macro(defineFnFlatDataDeserializeKeyMicroMicro $member)
RTI_PRIVATE RTI_BOOL
${member.nativeFQNameInModule}_flatdata_deserialize_key(struct DDS_TypePlugin *plugin,
                                                    void *void_sample,
                                                    struct CDR_Stream_t *stream,
                                                    DDS_InstanceHandle_t *source)
{
	UNUSED_ARG(plugin);
	UNUSED_ARG(source);

	RTI_UINT32 length_of_serialized_payload = 0;
	length_of_serialized_payload = stream->length - (RTI_UINT32)(stream->buff_ptr - stream->real_buff);

    struct CDR_Stream_t temporary_stream_used_for_deserialization;
    struct CDR_Stream_t * md5stream = (struct CDR_Stream_t*)void_sample;
	DDS_KeyHash_t keyhash;

    CDR_Stream_initialize(&temporary_stream_used_for_deserialization);
   	temporary_stream_used_for_deserialization.need_byte_swap = stream->need_byte_swap;
   	temporary_stream_used_for_deserialization.endian         = stream->endian;

#*----*##if($node.extensibility.equals("FINAL_EXTENSIBILITY"))
    /* The first 4 bytes flat data samples is the encapsulation header
     * Note. the serialized_size does not include the encapsulation header
     */
    unsigned int size = ${node.nativeFQNameInModule}::Offset::serialized_size(0);
#*----*##else

    /* Because the encapsulation has already been deserialized,
     * the buff_ptr now points to the beginning of the mutable sample
     * so we don't need to pass in any any offset to
     * RTIXCdrFlatSample_getMutableSampleSize
     */
    unsigned int size = static_cast<unsigned int>(
        RTIXCdrFlatSample_getMutableSampleSize(
            reinterpret_cast<const unsigned char *>(stream->buff_ptr),
            0));
#*----*##end

	/* Note at this point, the encapsulation has ALREADY been deserialized */
    if (!CDR_Stream_set_buffer(
            &temporary_stream_used_for_deserialization,
            ((char*)stream->buff_ptr),
            size))
    {
    	return RTI_FALSE;
    }

    ${member.nativeFQNameInModule}PlainHelper *plain_helper = NULL;
    plain_helper = (${member.nativeFQNameInModule}PlainHelper*)plugin->property.flat_data_plain_helper;

    if (!XCDR_GenericTypePlugin_deserialize_key(plugin,
    								      plain_helper,
    								      &temporary_stream_used_for_deserialization,
    								      NULL))
 	{
 		return RTI_FALSE;
 	}

    stream->buff_ptr += length_of_serialized_payload;

    if (!XCDR_GenericTypePlugin_instance_to_keyhash(plugin, md5stream,
                            &keyhash, plain_helper,
                            DDS_ENCAPSULATION_ID_XCDR2_F_BE))
    {
    	return RTI_FALSE;
    }

    /* we copy the keyhash as the first 16 bytes of ths md5stream passed in a special case
     * to this function. Regardless of the keysize, we will always allocate at least 16 bytes
     */
    OSAPI_Memory_copy(md5stream->real_buff, &keyhash, 16);

    return RTI_TRUE;
}
#end
