##/* $Id$
##
##   Copyright (c) 2001-2024 Real-Time Innovations, Inc.  All rights reserved.
##   No duplications, whole or partial, manual or electronic, may be made
##   without prior written permission.  Any such copies, or
##   revisions thereof, must display this notice unaltered.
##   This code contains trade secrets of Real-Time Innovations, Inc.
##========================================================================
#setNamespaceNames(false)
#setDefaultVariables()
#set ( $use_dpde = true )
#set ( $use_crc = true )
#setVariableDiscoveryPluginName()
#publisherSubscriberIncludesC()

#subscriberFilterDeclarationsC()
#functionSubscriberSubscriptionMatchedC()
#functionSubscriberOnDataAvailableC()
#declareFunctionSubscriberMainWArgsC()
#subscriberMainWArgsPreCreateDataReaderC()
#subscriberMainWArgsCreateDataReaderC()
#subscriberMainWArgsApplicationEnableC()
#subscriberMainWArgsListenerWaitForSamplesC()
#subscriberMainWArgsDeleteApplicationC()
#subscriberMainWArgsReturnC()

#functionPublisherSubscriberMain(false, true)
