##/* $Id$
##
##   (c) Copyright, Real-Time Innovations, Inc. 2001.  All rights reserved.
##   No duplications, whole or partial, manual or electronic, may be made
##   without prior written permission.  Any such copies, or
##   revisions thereof, must display this notice unaltered.
##   This code contains trade secrets of Real-Time Innovations, Inc.
##
##modification history:
##---------------------
##222,06jun14,as  Updated micro templates [resolved MICRO-79, MICRO-187, 
##                MICRO-341, MICRO-346, MICRO-740, MICRO-678, 
##                MICRO-777, MICRO-779, MICRO-796]
##10a,29apr14, as MICRO-778 Define C++ typed endpoint wrappers only
##                for aggregated types.
##10a,19jul13, as Added support for typed endpoint C++ wrappers
##10a,10jun13,ajm CODEGENII-109 adding envMap and constructMapList variables
##10a,25oct12, ajm Refactorizing code and variable names: 
##                typeIdl-->typeFQName, pathName-->FQName 
##10a,07nov11, ajm Refactoring code
##10a,04nov11, ajm Refactoring code. Variable name changed
##10a,21oct11,ajm Adding a return at the end of the file
##10a,10oct11,ajm Adding union support
##10a,29sep11,ajm adding forward declaration and namespace support 
##10a,26sep11,ajm adding enum support 
##10a,22sep11,ajm adding valuetypes support
##10a,2sep11,ajm Refactoring using a unique list for all elements(typedefs, structs and const)
##10a,01se11,jmt Adding typedef support for primitive types and typedef arrays
##10a,19ag11,ajm Refactorizing and cleaning the templates code.
##10a,17ag11,ajm Adding //@key
##10a,11ag11,ajm Refactorizing the templates code.
##           ajm Adding variable $nativeFQNameInModule
##10a,09ag11,jmt Fixing tabulations and length of the lines
##10a,09ag11,ajm Fixing the bug for a struct without a module 
##10a,04ag11,ajm adding modification history header
##10a,03ag11,ajm created 
##----------------------------------------------------------------
##-----------------------------------------------------------------
##               
##             Template for the TypePluginBody header file
## 
##---------------------------------------------------------------------
##---------------------------------------------------------------------
#autogeneratedHeader

${envMap.POUND_CHAR}ifndef ${envMap.idlFileName.replace(".","_").replace("-","_")}Plugin_${envMap.executionID}_h
${envMap.POUND_CHAR}define ${envMap.idlFileName.replace(".","_").replace("-","_")}Plugin_${envMap.executionID}_h

${envMap.POUND_CHAR}include "${envMap.idlFileName}.h"

#defineDllExportStart

#foreach($node in $constructMapList)
#*--*##if($node.constructKind.equals("directive"))
#*----*##if($node.directiveKind.equals("copy-c")
             ||$node.directiveKind.equals("copy")
             ||$node.directiveKind.equals("copy-declaration")
             ||$node.directiveKind.equals("copy-c-declaration"))
$node.value
#*----*##end
#*--*##elseif($node.constructKind.equals("module"))
#*----*##if(${envMap.namespace}) 
#*----*#namespace $node.name {
#*----*##end
#*--*##elseif($node.constructKind.equals("moduleClose"))
#*----*##if(${envMap.namespace}) 
#*----*#} /* namespace $node.name  */
#*----*##end
#*--*##elseif($node.constructKind.equals("include"))
#*----*#${envMap.POUND_CHAR}include "${node.file}Plugin.h"
#*--*##elseif($node.isAggregationType
               ||$node.constructKind.equals("alias")
               ||$node.constructKind.equals("enum"))
#externCIfRequiredStart
#*----*##if($node.topLevel)
#declareFnTypePluginGet($node)
#declareFnTypePluginGetDefaultTypeName($node)
#declareFnTypePluginKeyKind($node)
#declareFnSampleMgmt($node)
#*------*##if($envMap.language.equals("Cpp"))
#declareFnEndpointWrappers($node)
#*------*##end #* if($envMap.language.equals("Cpp") *#
#*----*##end #* //if($node.topLevel.equals("true") *#
#declareFnDeserialize($node)
#declareFnKeyedMgmt($node)
#externCIfRequiredEnd
#*--*##end #* if($node.constructKind.equals("alias"
               ||$node.isAggregationType
               ||$node.constructKind.equals("enum") *#
#end #* foreach($node in $constructMapList) *#

#defineDllExportEnd

${envMap.POUND_CHAR}endif /* ${envMap.idlFileName.replace(".","_").replace("-","_")}Plugin_${envMap.executionID}_h */

