##/* $Id$
##
##   (c) Copyright, Real-Time Innovations, Inc. 2001.  All rights reserved.
##   No duplications, whole or partial, manual or electronic, may be made
##   without prior written permission.  Any such copies, or
##   revisions thereof, must display this notice unaltered.
##   This code contains trade secrets of Real-Time Innovations, Inc.
##
##modification history:
##---------------------
##240,18dec15,as  CODEGENII-524 Update for Micro 2.4.6
##                MICRO-1178 Add TTypeSupport_get_type_name()
##222,06jun14,as  Updated micro templates [resolved MICRO-79, MICRO-187, 
##                MICRO-341, MICRO-346, MICRO-740, MICRO-678, 
##                MICRO-777, MICRO-779, MICRO-796]
##10a,10jun13,ajm CODEGENII-109 adding envMap and constructMapList variables
##10a,25oct12, ajm Refactorizing code and variable names: 
##                typeIdl-->typeFQName, pathName-->FQName 
##10a,21oct11,ajm Adding a return at the end of the file
##10a,10oct11,ajm Adding union support 
##10a,29sep11,ajm adding forward declaration and namespace support 
##10a,22sep11,ajm adding valuetypes support
##10a,2sep11,ajm Refactoring using a unique list for all elements(typedefs, structs and const)
##10a,19ag11,ajm Adding support for @top-level 
##10a,11ag11,ajm Refactorizing the templates code.
##           ajm Adding variable $nativeFQNameInModule
##10a,09ag11,jmt Fixing tabulations and length of the lines
##10a,09ag11,ajm Fixing the bug for a struct without a module
##10a,05ag11,ajm fixing bug, now using the structName name instead of the envMap.idlFileName 
##10a,04ag11,ajm adding modificatin history header
##10a,03ag11,ajm created 
##----------------------------------------------------------------
##-----------------------------------------------------------------
##               
##             Template for the typeSupport header file
## 
##---------------------------------------------------------------------
##---------------------------------------------------------------------
#autogeneratedHeader

${envMap.POUND_CHAR}ifndef ${envMap.idlFileName.replace(".","_").replace("-","_")}Support_${envMap.executionID}_h
${envMap.POUND_CHAR}define ${envMap.idlFileName.replace(".","_").replace("-","_")}Support_${envMap.executionID}_h

${envMap.POUND_CHAR}include <stdlib.h>

/* Uses */
${envMap.POUND_CHAR}include "${envMap.idlFileName}.h"
/* Requires */
${envMap.POUND_CHAR}include "${envMap.idlFileName}Plugin.h"


#*------*##if($envMap.language.equals("Cpp"))
${envMap.POUND_CHAR}if (defined(RTI_WIN32) || defined(RTI_WINCE)) && defined(NDDS_USER_DLL_EXPORT)
#* ${envMap.POUND_CHAR}ifdef __cplusplus *#
  /* If we're building on Windows, explicitly import the superclasses of
   * the types declared below.
   */
#*--------*##if($envMap.genWriter)       
  class __declspec(dllimport) DDSDataWriter;
  class __declspec(dllimport) DDSDataWriter_impl;
#*--------*##end
#*--------*##if($envMap.genReader)
  class __declspec(dllimport) DDSDataReader;
  class __declspec(dllimport) DDSDataReader_impl;
#*--------*##end
#* ${envMap.POUND_CHAR}endif *#
${envMap.POUND_CHAR}endif
#*------*##end #* if($envMap.language.equals("Cpp")) *#

#foreach($node in $constructMapList)
#*--*##if($node.constructKind.equals("directive"))
#*----*##if($node.directiveKind.equals("copy-c")
             ||$node.directiveKind.equals("copy")
             ||$node.directiveKind.equals("copy-declaration")
             ||$node.directiveKind.equals("copy-c-declaration"))
$node.value
#*----*##end
#*--*##elseif($node.constructKind.equals("module") && ${envMap.namespace}) 
#*----*#namespace $node.name {
#*--*##elseif($node.constructKind.equals("moduleClose") && ${envMap.namespace})
#*----*#} /* namespace $node.name  */
#*--*##elseif($node.topLevel && $node.isAggregationType)
## The following support code is generated only for top-level
## structs, valueTypes, and unions.
/* ========================================================================== */
/**
   Uses:     T
   Defines:  TTypeSupport#if($envMap.genWriter), TDataWriter#end#if($envMap.genReader), TDataReader#end
*/

#defineDllExportStart

#*------*##if($envMap.language.equals("C"))
#externCIfRequiredStart

#declareFnTypeSupportRegisterUnregister($node)

#declareFnTypeSupportGetTypeName($node)

#declareFnTypeSupportSample($node)

#*--------*##if($envMap.genWriter)
DDS_DATAWRITER_C(${node.nativeFQNameInModule}DataWriter, ${node.nativeFQNameInModule});
#*--------*##end #*if($envMap.genWriter)*#
#*--------*##if($envMap.genReader)
DDS_DATAREADER_C(${node.nativeFQNameInModule}DataReader, ${node.nativeFQNameInModule}Seq, ${node.nativeFQNameInModule});
#*--------*##end #*if($envMap.genReader)*#

#externCIfRequiredEnd

#*------*##else #* ($envMap.language.equals("C")) *#
DDS_TYPESUPPORT_CPP(${node.nativeFQNameInModule}TypeSupport, ${node.nativeFQNameInModule});
#*--------*##if($envMap.genWriter)
DDS_DATAWRITER_CPP(${node.nativeFQNameInModule}DataWriter, ${node.nativeFQNameInModule});
#*--------*##end #*if($envMap.genWriter)*#
#*--------*##if($envMap.genReader)
DDS_DATAREADER_CPP(${node.nativeFQNameInModule}DataReader, ${node.nativeFQNameInModule});
#*--------*##end #*if($envMap.genReader)*#
#*------*##end #* ($envMap.language.equals("C")) *#

#defineDllExportEnd

#*--*##end #* if($node.topLevel && $node.isAggregationType) *#
#end #* foreach($node in $constructMapList) *#

${envMap.POUND_CHAR}endif  /* ${envMap.idlFileName.replace(".","_").replace("-","_")}Support_${envMap.executionID}_h */

