##/* $Id$
##
##   (c) Copyright, Real-Time Innovations, Inc. 2001.  All rights reserved.
##   No duplications, whole or partial, manual or electronic, may be made
##   without prior written permission.  Any such copies, or
##   revisions thereof, must display this notice unaltered.
##   This code contains trade secrets of Real-Time Innovations, Inc.
##
##modification history:
##---------------------
##240,18dec15,as  CODEGENII-524 Update for Micro 2.4.6
##                MICRO-1178 Add TTypeSupport_get_type_name()
##222,06jun14,as  Updated micro templates [resolved MICRO-79, MICRO-187, 
##                MICRO-341, MICRO-346, MICRO-740, MICRO-678, 
##                MICRO-777, MICRO-779, MICRO-796]
##10a,10jun13,ajm CODEGENII-109 adding envMap and constructMapList variables
##10a,25oct12, ajm Refactorizing code and variable names: 
##                typeIdl-->typeFQName, pathName-->FQName 
##10a,21oct11,ajm Adding a return at the end of the file
##10a,10oct11,ajm Adding union support
##10a,29sep11,ajm adding forward declaration and namespace support 
##10a,22sep11,ajm adding valuetypes support
##10a,2sep11,ajm Refactoring using a unique list for all elements(typedefs, structs and const)
##10a,19ag11,ajm Adding support for @top-level 
##10a,11ag11,ajm Refactorizing the templates code.
##           ajm Adding variable $nativeFQNameInModule
##10a,09ag11,jmt Fixing tabulations and length of the lines
##10a,09ag11,jmt Fixing the bug for a struct without a module
##10a,05ag11,ajm fixing bug, now using the structName name instead of the envMap.idlFileName
##10a,04ag11,ajm adding modification history header
##10a,03ag11,ajm created   
##---------------------------------------------------------------------
##-----------------------------------------------------------------
##               
##             Template for the typeSupport source file
## 
##---------------------------------------------------------------------
##---------------------------------------------------------------------
#autogeneratedHeader

##${envMap.POUND_CHAR}include <stdlib.h>

${envMap.POUND_CHAR}include "${envMap.idlFileName}Support.h"

/*** SOURCE_BEGIN ***/
#foreach($node in $constructMapList)
#*--*##if($node.constructKind.equals("directive"))
#*----*##if($node.directiveKind.equals("copy-c")
             ||$node.directiveKind.equals("copy"))
##we avoid to copy the declaration directives to source files
$node.value
#*----*##end
#*--*##elseif($node.constructKind.equals("module") && ${envMap.namespace}) 
#*----*#namespace $node.name {
#*--*##elseif($node.constructKind.equals("moduleClose") && ${envMap.namespace}) 
#*----*#} /* namespace $node.name  */
#*--*##elseif($node.topLevel && $node.isAggregationType)
#*----*##if($envMap.genWriter)    
/* =========================================================================== */

/* Requires */
${envMap.POUND_CHAR}define TTYPENAME   ${node.nativeFQNameInModule}TYPENAME

/* 
    ${node.nativeFQName}DataWriter#if($envMap.language.equals("C")) (DDS_DataWriter)#else (DDSDataWriter)#end
   
*/

/* Defines */
${envMap.POUND_CHAR}define TDataWriter ${node.nativeFQNameInModule}DataWriter
${envMap.POUND_CHAR}define TData       ${node.nativeFQName}

#*------*##if($envMap.language.equals("C"))
${envMap.POUND_CHAR}include "dds_c/dds_c_tdatawriter_gen.h"
#*------*##else #* if($envMap.language.equals("C") *#
${envMap.POUND_CHAR}ifdef __cplusplus
${envMap.POUND_CHAR}include "dds_cpp/dds_cpp_tdatawriter_gen.hxx"
${envMap.POUND_CHAR}endif
#*------*##end #* if($envMap.language.equals("C") *#

${envMap.POUND_CHAR}undef TDataWriter
${envMap.POUND_CHAR}undef TData
#*----*##end #*if($envMap.genWriter)*#
#*----*##if($envMap.genReader)
/* =========================================================================== */
/* 
    ${node.nativeFQName}DataReader#if($envMap.language.equals("C")) (DDS_DataReader)#else (DDSDataReader)#end
   
*/

/* Defines */
${envMap.POUND_CHAR}define TDataReader ${node.nativeFQNameInModule}DataReader
${envMap.POUND_CHAR}define TDataSeq    ${node.nativeFQNameInModule}Seq
${envMap.POUND_CHAR}define TData       ${node.nativeFQName}
#*------*##if($envMap.language.equals("C"))
${envMap.POUND_CHAR}include "dds_c/dds_c_tdatareader_gen.h"
#*------*##else
${envMap.POUND_CHAR}ifdef __cplusplus
${envMap.POUND_CHAR}include "dds_cpp/dds_cpp_tdatareader_gen.hxx"
${envMap.POUND_CHAR}endif
#*------*##end
${envMap.POUND_CHAR}undef TDataReader
${envMap.POUND_CHAR}undef TDataSeq
${envMap.POUND_CHAR}undef TData
#*----*##end #*if($envMap.genReader)*#

#*------*##if($envMap.language.equals("Cpp"))
/* =========================================================================== */
/* 
    ${node.nativeFQName}TypeSupport
    
*/

${envMap.POUND_CHAR}define TTypeSupport ${node.nativeFQNameInModule}TypeSupport
${envMap.POUND_CHAR}define TData        ${node.nativeFQName}

${envMap.POUND_CHAR}ifdef __cplusplus
${envMap.POUND_CHAR}include "dds_cpp/dds_cpp_ttypesupport_gen.hxx"
${envMap.POUND_CHAR}endif

${envMap.POUND_CHAR}undef TTypeSupport
${envMap.POUND_CHAR}undef TData
#*------*##else #* if($envMap.language.equals("Cpp") *#
#defineFnTypeSupportRegisterUnregister($node)
#defineFnTypeSupportGetTypeName($node)
#defineFnTypeSupportSample($node)
#*------*##end #* if($envMap.language.equals("Cpp") *#

${envMap.POUND_CHAR}undef TTYPENAME


#*--*##end #* if($node.topLevel
               && $node.isAggregationType) *#
#end #* foreach($node in $constructMapList) *#

