##/* $Id$
##
##   Copyright (c) 2001-2025 Real-Time Innovations, Inc.  All rights reserved.
##   No duplications, whole or partial, manual or electronic, may be made
##   without prior written permission.  Any such copies, or
##   revisions thereof, must display this notice unaltered.
##   This code contains trade secrets of Real-Time Innovations, Inc.
##
##modification history:
##---------------------
##240,18dec15,as  CODEGENII-524 Update for Micro 2.4.6
##222,13may15,as  Added RTI_CERT guards around delete/finalize operations
##222,06jun14,as  Updated micro templates [resolved MICRO-79, MICRO-187, 
##                MICRO-341, MICRO-346, MICRO-740, MICRO-678, 
##                MICRO-777, MICRO-779, MICRO-796]
##10a,29apr14, as MICRO-778 Define C++ typed endpoint wrappers only
##                for aggregated types.
##10a,19jul13, as Added support for C++ typed endpoint wrappers
##10a,10jun13,ajm CODEGENII-109 adding envMap and constructMapList variables
##10a,25oct12, ajm Refactorizing code and variable names: 
##                typeIdl-->typeFQName, pathName-->FQName 
##10a,29nov11,yy changed get_serialized_sample_max_size to include the header
##10a,29nov11,yy added instance_to_keyhash for Micro
##10a,17nov11,yy changes for Micro
##10a,14nov11,yy created 
##-----------------------------------------------------------------
##               
##             Template for the TypePluginBody MicroC file
## 
##---------------------------------------------------------------------
##---------------------------------------------------------------------
#autogeneratedHeader

${envMap.POUND_CHAR}include "${envMap.idlFileName}.h"
${envMap.POUND_CHAR}include "reda/reda_bufferpool.h"
${envMap.POUND_CHAR}if DDS_XTYPES_IS_ENABLED
${envMap.POUND_CHAR}include "xcdr/xcdr_interpreter.h"
${envMap.POUND_CHAR}include "xcdr/xcdr_dds_xcdr_type_plugin.h"
${envMap.POUND_CHAR}include "xcdr/xcdr_dds_interpreter.h"
${envMap.POUND_CHAR}endif
#*-—*##if($envMap.metp)
${envMap.POUND_CHAR}include "netio_sdm/netio_sdm_type_plugin.h"
${envMap.POUND_CHAR}if RTIME_HAVE_ZCOPYV2
${envMap.POUND_CHAR}include "netio_zcopy/netio_zcopy_plugin.h"
${envMap.POUND_CHAR}endif
#*-—*##end
${envMap.POUND_CHAR}include "${envMap.idlFileName}Plugin.h"
#if($envMap.language.equals("Cpp"))
${envMap.POUND_CHAR}include "${envMap.idlFileName}Support.h"
#end

/*** SOURCE_BEGIN ***/
${envMap.POUND_CHAR}ifndef UNUSED_ARG
${envMap.POUND_CHAR}define UNUSED_ARG(x) (void)(x)
${envMap.POUND_CHAR}endif

##-----------------------------------------------------------------------
##
## In case there're TypeDef on the IDL file, the code is genereated here
##
##-----------------------------------------------------------------------
#foreach($node in $constructMapList)
#*--*##if($node.constructKind.equals("directive"))
#*----*##if($node.directiveKind.equals("copy-c")
             ||$node.directiveKind.equals("copy"))
##we avoid to copy the declaration directives to source files
$node.value
#*----*##end
#*--*##elseif($node.constructKind.equals("module")
            && ${envMap.namespace}) 
#*----*#namespace $node.name {
#*--*##elseif($node.constructKind.equals("moduleClose") 
                 && ${envMap.namespace})
#*----*#} /* namespace $node.name  */
#*--*##elseif($node.constructKind.equals("alias")
               || $node.isAggregationType
               || $node.constructKind.equals("enum"))
#createTypeFieldMicroMicro($node.memberFieldMapList $node)

#defineTypePluginStructMicroMicro($node)

/* --------------------------------------------------------------------------
    (De)Serialize functions:
 * -------------------------------------------------------------------------- */
#if($node.interpreted!="true")

#defineFnGetSerializedSampleMaxSizeMicroMicro($node)
#if ($envMap.genWriter)
#defineFnCDRSerializeMicroMicro($node)
#end
#*-****************************************************************-*#
#if ($envMap.genReader)
#defineFnCDRDeserializeMicroMicro($node)
#end

#else
 
#end
	
#*-****************************************************************-*#
#*----*##if($node.hasKey || $node.hasKeyBaseType)
##----------------------------------------------------
## This code is only generated if the struct has a key
##----------------------------------------------------
/* --------------------------------------------------------------------------
    Key Management functions:
 * -------------------------------------------------------------------------- */
#*-****************************************************************-*#
#if($node.interpreted!="true")
#if ($envMap.genWriter)
#defineFnCDRSerialize_keyMicroMicro($node)
#end
#*-****************************************************************-*#
#if ($envMap.genReader)
#defineFnCDRDeserialize_keyMicroMicro($node)
#end
#*-****************************************************************-*#
#defineFnGetSerializedKeyMaxSizeMicroMicro($node)
#end
#*----*##end## of node.hasKey || node.hasKeyBaseType

#*----*##if ($node.topLevel && $node.constructKind!="enum")
#*------*##if($envMap.language.equals("Cpp"))
/* --------------------------------------------------------------------------
    Typed-endpoint support for C++:
 * -------------------------------------------------------------------------- */
#if ($envMap.genWriter)
#*-****************************************************************-*#
#defineFnCreateTypedDataWriterMicroMicro($node)
#*-****************************************************************-*#
${envMap.POUND_CHAR}ifndef RTI_CERT
#defineFnDeleteTypedDataWriterMicroMicro($node)
${envMap.POUND_CHAR}endif
#end
#if ($envMap.genReader)
#*-****************************************************************-*#
#defineFnCreateTypedDataReaderMicroMicro($node)
#*-****************************************************************-*#
${envMap.POUND_CHAR}ifndef RTI_CERT
#defineFnDeleteTypedDataReaderMicroMicro($node)
${envMap.POUND_CHAR}endif
#end
#*------*##end#* if($language.equals("Cpp") *#
/* --------------------------------------------------------------------------
 *  Sample Support functions:
 * -------------------------------------------------------------------------- */
#defineFnTypePluginCreateSampleMicroMicro($node)
#*-****************************************************************-*#
${envMap.POUND_CHAR}ifndef RTI_CERT
#defineFnTypePluginDeleteSampleMicroMicro($node)
${envMap.POUND_CHAR}endif
#*-****************************************************************-*#
#defineFnTypePluginCopySampleMicroMicro($node)
/* --------------------------------------------------------------------------
 *  Type ${node.nativeFQNameInModule} Plugin Instantiation
 * -------------------------------------------------------------------------- */
 #*-****************************************************************-*#
#defineEncapsulationKindMicroMicro($node)
#*-****************************************************************-*#
#defineTypePluginMicroMicro($node)
/* --------------------------------------------------------------------------
 *  Type ${node.nativeFQNameInModule} Plugin Methods
 * -------------------------------------------------------------------------- */
 #*-****************************************************************-*# 
#defineFnTypePluginGetMicroMicro($node)
 #*-****************************************************************-*# 
#defineFnTypePluginGetDefaultTypeNameMicroMicro($node)
#*-****************************************************************-*#
#defineFnTypePluginGetKeyKindMicroMicro($node)
#*----*##end #* #if($node.topLevel && $node.constructKind!="enum") *#
#*--*##end #* if($node.constructKind.equals("alias"
                 ||$node.isAggregationType
                 ||$node.constructKind.equals("enum")*#
#end #* foreach($node in $constructMapList) *#
##-------------------------------------
## 
## End of the common code for each structure 
## 
##-------------------------------------

