prompt                 = no
distinguished_name     = subscriber

[ subscriber ]
countryName            = US
stateOrProvinceName    = CA
localityName           = Sunnyvale
organizationName       = My Organization
emailAddress           = subscriber@my-organization.com
commonName             = A subscriber
