##/* $Id$
##
##   Copyright (c) 2025-2025 Real-Time Innovations, Inc.  All rights reserved.
##   No duplications, whole or partial, manual or electronic, may be made
##   without prior written permission.  Any such copies, or
##   revisions thereof, must display this notice unaltered.
##   This code contains trade secrets of Real-Time Innovations, Inc.
##========================================================================
#setDefaultVariables()
#setVariableDiscoveryPluginName()
#set ( $use_dpde = true )
#set ( $use_content_filter = true )
#set ( $use_listener = false )
#readmeHeader()

#readmeHowToCompileAndRun()

#readmeSourceOverview()

#readmeExampleFilesOverview()

