prompt                 = no
distinguished_name     = publisher

[ publisher ]
countryName            = US
stateOrProvinceName    = CA
localityName           = Sunnyvale
organizationName       = My Organization
emailAddress           = publisher@my-organization.com
commonName             = A publisher
